/* Fenix Colors */
$fenix-standard-blue: rgba(53, 166, 220, 1);
$white-alpha: rgba(255, 255, 255, 0.9);
$black-alpha : rgba(0, 0, 0, 0.85);
$fx-cool-blue: #0076ff;

$fenix-light-bg: #f1f1f1;

$fenix-gray-text : #666666;
$fenix-light-gray: #dddddd;
$fenix-dark-blue: #4c647f;

$fenix-dark-bg: #2b2f36;


