/* Fenix UI  DSD Editor  CSS - Colors */

/* Fenix Colors */
$fenix-standard-blue: rgba(53, 166, 220, 1);
$fx-cool-blue: #0076ff;

$fenix-text: #666666;

$fenix-light-gray: #dddddd;
$fenix-dark-blue: #4c647f;
$fenix-dark-bg: #666666;
$fenix-light-bg: #f8f8f8;
$fenix-hr: #d8d8d8;


/* Specials */
$white-alpha: rgba(255, 255, 255, 0.9);
$black-alpha : rgba(0, 0, 0, 0.85);