/*  FENIX COMMONS */

body{
  background-color: $fenix-light-bg;
}

/* Reset Jqwidget content font */
.jqx-widget, .jqx-widget-content, .jqx-fill-state-normal{
  font: $standard-text;
}


.fx-validation{
  @include animate;
}

.fx-red-cell{
  background-color: orangered;
  color: white;
}

.obj-box {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: white;
  border-color: #D8D8D8;
  border-image: none;
  @include fx-border-radius(3px);
  border-style: solid;
  border-width: 1px 1px 2px;
  margin: 10px 0 20px;
  padding: 20px;
  width: auto;
}

.obj-box-radius10 {
  @extend .obj-box;
  @include fx-border-radius(10px);
}

.obj-box-title{
  @extend .obj-box;
  padding-top: 5px;

  h4{
    text-transform: uppercase;
    color: $fx-cool-blue;
    font-size: 14px;
    font-weight: 300;
  }
}

.title-ico{
  height: 30px;
  width: 30px;
  margin: -4px 10px 0 0;
}

.fx-bullet-number{
  display: block;
  float: left;
  font-size: 15px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  font-style: normal;
  background-color: $fx-cool-blue;
  @include fx-border-radius(100%);
  color: white;
  margin-right: 10px;
}

/* Iframe Style */

.iframe-container {
  position: relative;
  padding-bottom: 40.67%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.iframe-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}



.iframe-container-poverty iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iframe-container-poverty {
  position: relative;
  padding-bottom: 240%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

/* Iframe showcase */

.iframe-container-trade {
  position: relative;
  padding-bottom: 310%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.iframe-container-trade iframe, .iframe-container-poverty iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iframe-container-poverty {
  position: relative;
  padding-bottom: 240%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

