/* Fenix Catalog */

.fx-catalog-hints {
  background-color: $fenix-light-bg;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px;
  padding-left: 80px;
  padding-right: 80px;

  .col-xs-3{
    position: relative;
    top: 50%;
    @include fx-transfor-me(translateY(-50%));
  }

  img{
    position: relative;
    left: 50%;
    @include fx-transfor-me(translateX(-50%));
  }

  h3{
    margin-top: 0;
    font-size: 14px;
    font-weight: 300;
    color: white;
    border: 1px solid $fenix-text;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding-top: 4px;
    text-align: center;
    @include fx-border-radius(100%);
  }

  h4{
    margin-top: 0;
    margin-bottom: 2px;
    color: $fenix-dark-blue;
    font-size: 14px;
    text-transform: uppercase;
  }

  p{
    color: $fenix-text;
    font-size: 12px;
    margin-bottom: 2px;
  }

  button{
    padding-top: 0px;
    padding-bottom: 2px;
    font-size: 10px;
  }

}