/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

















}
/****************************************************************************************************************************************************************/