/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {











}
/****************************************************************************************************************************************************************/