/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

















}
/****************************************************************************************************************************************************************/
