/* Widgets container
-------------------------------------------------- */
.fx-widget{
  background-color: #FFFFFF;
  height: 100%;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  border-bottom: 3px solid #dddddd;
  position: relative;
}

.fx-widget:before{
  content: "";
  height: 1px;
  background-color: #dddddd;
  width: 100%;
  position: absolute;
  top: 56px;
  left: 0px;
}

.fx-widget-chart-container{
  position: relative;
  width: 500px;
  height: 350px;
}

.fx-widget .nav > li > a {padding:3px;}

.fx-icon{
  width: 35px;
  height: 35px;
  display: inline-block;
}
.fx-handle{
  cursor: move;
  position: relative;
  top: 4px;
  height: 29px;
  width: 128px;
  background: url("img/drag.png");
}

.fx-analysis-item{
  padding-bottom: 20px;
}

.widget-grid-container{
  padding: 8px 10px;
}

.fx-analysis-item{
  padding: 10px;
}


.nav-tabs{
  border-bottom: transparent;
  li {
    a{
      cursor: pointer;
    }
  }
}

.tab-content{
  padding-top: 10px;
}

/* Icons Standard state */
.fx-icon-clone{
  background: url("img/icons-sprite.png") no-repeat -350px 0px;
}
.fx-icon-remove{
  background: url("img/icons-sprite.png") no-repeat -385px 0px;
}
.fx-icon-resize{
  background: url("img/icons-sprite.png") no-repeat -210px 0px;
}
.fx-icon-movetosession{
  background: url("img/icons-sprite.png") no-repeat -315px 0px;
}
.fx-icon-metadata{
  background: url("img/icons-sprite.png") no-repeat 0px 0px;
}
.fx-icon-map{
  background: url("img/icons-sprite.png") no-repeat -280px 0px;
}
.fx-icon-table{
  background: url("img/icons-sprite.png") no-repeat -175px 0px;
}
.fx-icon-chart{
  background: url("img/icons-sprite.png") no-repeat -35px 0px;
}
.fx-icon-download{
  background: url("img/icons-sprite.png") no-repeat -245px 0px;
}
.fx-icon-add{
  background: url("img/icons-sprite.png") no-repeat -455px 0px;
}
.fx-icon-data{
  background: url("img/icons-sprite.png") no-repeat -490px 0px;
}
.fx-icon-metadata{
  background: url("img/icons-sprite.png") no-repeat -525px 0px;
}

/* Icons Over state */
.fx-icon-clone:hover{
  background: url("img/icons-sprite.png") no-repeat -350px -35px;
}
.fx-icon-remove:hover{
  background: url("img/icons-sprite.png") no-repeat -385px -35px;
}
.fx-icon-resize:hover{
  background: url("img/icons-sprite.png") no-repeat -210px -35px;
}
.fx-icon-movetosession:hover{
  background: url("img/icons-sprite.png") no-repeat -315px -35px;
}
.fx-icon-metadata:hover{
  background: url("img/icons-sprite.png") no-repeat 0px -35px;
}
.fx-icon-map:hover{
  background: url("img/icons-sprite.png") no-repeat -280px -35px;
}
.fx-icon-table:hover{
  background: url("img/icons-sprite.png") no-repeat -175px -35px;
}
.fx-icon-chart:hover{
  background: url("img/icons-sprite.png") no-repeat -35px -35px;
}
.fx-icon-download:hover{
  background: url("img/icons-sprite.png") no-repeat -245px -35px;
}
.fx-icon-add:hover{
  background: url("img/icons-sprite.png") no-repeat -455px -35px;
}
.fx-icon-data:hover{
  background: url("img/icons-sprite.png") no-repeat -490px -35px;
}
.fx-icon-metadata:hover{
  background: url("img/icons-sprite.png") no-repeat -525px -35px;
}
