/* Fenix UI  DSD Editor  CSS
PUT THIS AFTER BOOTSTRAP */
/* Fenix UI  DSD Editor  CSS - Mixins */
/* CSS TRANSFORMS */
/* CSS TRANSITION */
/* 3D flow */
/* Blurred */
/* Color Mixins */
/* Animations */
/* Fenix UI  DSD Editor  CSS - Colors */
/* Fenix Colors */
/* Specials */
/* Fenix Typography */
/*  FENIX COMMONS */
body {
    background-color: white;
    font: normal normal 300 14px/normal "Roboto Condensed"; }

/* Reset Jqwidget content font */
.jqx-widget, .jqx-widget-content, .jqx-fill-state-normal {
    font: normal normal 300 14px/normal "Roboto Condensed"; }

.fx-validation {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }

.fx-red-cell {
    background-color: orangered;
    color: white; }

.obj-box, .obj-box-radius10, .fx-filter-modular-form-holder {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #D8D8D8;
    border-image: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 2px;
    margin: 10px 0 20px;
    padding: 20px;
    width: auto; }

.obj-box-radius10 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }

.fx-bullet-number {
    display: block;
    float: left;
    font-size: 15px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    font-style: normal;
    background-color: #0076ff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    color: white;
    margin-right: 10px; }

/* Fenix UI filter */
#fx-filter-modular-menu .panel-title {
    font-weight: 400; }
#fx-filter-modular-menu .panel-body .btn {
    background-color: transparent;
    font-weight: 300; }

.fx-filter-hints {
    background-color: #f8f8f8;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px; }
.fx-filter-hints .col-xs-3 {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    /* IE 9 */
    -webkit-transform: translateY(-50%);
    /* Chrome, Safari, Opera */
    transform: translateY(-50%); }
.fx-filter-hints img {
    position: relative;
    left: 50%;
    -ms-transform: translateX(-50%);
    /* IE 9 */
    -webkit-transform: translateX(-50%);
    /* Chrome, Safari, Opera */
    transform: translateX(-50%); }
.fx-filter-hints h3 {
    margin-top: 0;
    font-size: 14px;
    font-weight: 300;
    color: white;
    border: 1px solid #666666;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding-top: 4px;
    text-align: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%; }
.fx-filter-hints h4 {
    margin-top: 0;
    margin-bottom: 2px;
    color: #4c647f;
    font-size: 14px;
    text-transform: uppercase; }
.fx-filter-hints p {
    color: #666666;
    font-size: 12px;
    margin-bottom: 2px; }
.fx-filter-hints button {
    padding-top: 0px;
    padding-bottom: 2px;
    font-size: 10px; }

/* Packery */
.fx-filter-form-module {
    width: 50%;
    border: 10px solid #f8f8f8; }

.fx-filter-modular-form-holder {
    padding: 5px;
    margin: 0; }

.fx-filter-form-module.fit {
    width: 100%; }

.fx_result_description_title {
    text-transform: uppercase;
    font-weight: bold;
    display: inline; }

.fx_result_description_source {
    display: inline;
    color: #999999; }

.fx_result_description_source:before {
    content: "-"; }

.fx_result_description_baseperiod {
    font-style: italic;
    font-size: 10px; }

.fenix-result {
    width: 100%;
    background-color: white;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px 0 16px 19px; }

/* ====== NEW*/
/*========= HEADER =========*/
.fx-filter-header em {
    font-style: normal;
    font-family: Roboto;
    font-weight: 100; }

.fx-filter-header-btn {
    cursor: pointer; }

.fx-filter-header-btn-close:after {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: url("icons/fenix-catalog-sprite-small.png") no-repeat -105px 0;
    cursor: pointer;
    top: 3px; }

.fx-filter-header-btn-settings:after {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: url("icons/fenix-catalog-sprite-small.png") no-repeat -120px 0;
    cursor: pointer;
    top: 3px; }

/*========= FILTER CONTAINER =========*/
.fx-filter-modular-filter-container {
    background-color: #f8f8f8;
    min-height: 250px;
    overflow: hidden; }

/*========= MODULAR MENU =========*/
.fx-filter-modular-menu-container {
    background-color: #f8f8f8;
    padding: 0;
    min-height: 250px; }

/*.fx-catalog-modular-menu-container:after {*/
/*position: absolute;*/
/*content: "";*/
/*height: 900px;*/
/*width: 20px;*/
/*background-color: #f3f3f3;*/
/*top: 0;*/
/*right: -14px;*/
/*}*/
.fx-filter-modular-menu-container .btn-default:hover {
    background-color: #e1dfda; }

.panel-default:last-child {
    border-bottom-width: 0px !important; }

#fx-filter-modular-menu .panel-group {
    margin-bottom: 0px; }

#fx-filter-modular-menu .panel-heading {
    background-color: #f8f8f8;
    -webkit-border-radius: 0;
    border-radius: 0; }

#fx-filter-modular-menu .panel {
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: transparent;
    border: none; }

#fx-filter-modular-menu .panel-default {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #e5e5e5; }

#fx-filter-modular-menu .panel-default button {
    border: none; }

.fx-menu-category-title {
    position: relative; }

.fx-menu-category-title a {
    padding-left: 35px;
    text-transform: uppercase;
    text-decoration: none;
    color: #666666; }

.fx-filter-modular-menu-category-plus {
    position: absolute;
    top: 0;
    height: 15px;
    width: 15px;
    background: url("icons/fenix-catalog-sprite-small.png") no-repeat -90px 0; }

.fx-filter-modular-menu-category-info {
    position: absolute;
    top: 0;
    right: 0;
    height: 15px;
    width: 15px;
    background: url("icons/fenix-catalog-sprite-small.png") no-repeat 0 0; }

#fx-filter-modular-menu .panel-body, #fx-filter-modular-menu button {
    color: #6e6e6e; }

#fx-filter-modular-menu button {
    border-color: white;
    text-align: left; }

#fx-filter-modular-menu button span {
    margin-right: 10px; }

/*========= FORM =========*/
.fx-filter-modular-form-wrapper {
    padding-right: 0;
    /*overflow: hidden;*/
    min-height: 250px;
    position: relative;
    background-color: #f8f8f8; }

.fx-filter-form-module {
    /*padding: 7px;  */
    /*border: 0;   */ }

.fx-filter-modular-form-header {
    position: relative;
    height: 30px; }

.fx-filter-modular-form-handler {
    position: absolute;
    left: 7px;
    top: 7px;
    height: 15px;
    width: 15px;
    background: url("icons/fenix-catalog-sprite-small.png") no-repeat -15px 0;
    cursor: pointer; }

.fx-filter-modular-form-close-btn {
    position: absolute;
    top: 7px;
    right: 7px;
    height: 15px;
    width: 15px;
    background: url("icons/fenix-catalog-sprite-small.png") no-repeat -45px 0;
    cursor: pointer; }

.fx-filter-modular-form-resize-btn {
    position: absolute;
    top: 7px;
    right: 28px;
    height: 15px;
    width: 15px;
    background: url("icons/fenix-catalog-sprite-small.png") no-repeat -30px 0;
    cursor: pointer; }

.fx-filter-modular-form-label {
    position: absolute;
    top: 4px;
    left: 30px;
    font-weight: 300; }

.fx-filter-modular-form-content {
    padding: 10px 10px 10px 10px;
    height: 100px; }

.fx-filter-mod-timerseries {
    top: 25px; }

/*========= RESUME BAR =========*/
.fx-filter-resume-bar {
    background-color: #f8f8f8;
    min-height: 38px; }

#fx-filter-resume {
    margin-left: 300px;
    margin-right: 80px;
    padding-bottom: 5px; }

#fx-filter-submit-btn {
    color: white;
    text-transform: uppercase;
    background-color: #0076ff;
    position: absolute;
    right: 0;
    height: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }

.fx-filter-resume-bar-help {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 7px;
    background: url("icons/fenix-catalog-sprite.png") no-repeat 0px 0; }

.fx-filter-resume-bar-text {
    position: absolute;
    top: 9px;
    left: 215px;
    /* Sistemare questo */ }

.fx-filter-resume-bar-arrow {
    position: absolute;
    height: 25px;
    width: 25px;
    background: url("icons/fenix-catalog-sprite-small.png") no-repeat -135px 0;
    top: 12px;
    left: 288px;
    /* Sistemare questo */ }

.fx-resume-item-selected {
    display: inline-block;
    background-color: #f1f0ed;
    min-height: 24px;
    margin: 5px 5px 3px 5px;
    padding: 0 10px 2px 30px;
    border: 1px solid #6E6E6E;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative; }

.fx-resume-item-selected i {
    margin-right: 3px;
    position: absolute;
    left: 3px;
    top: 4px; }

/*========= RESULTS */
/*========= COMMONS =========*/
.fx-typo-black {
    color: #0076ff;
    font-weight: 100;
    font-size: 24px;
    font-family: "Roboto Condensed"; }

.fx_horegon {
    display: inline; }

.fx_result_icon_img {
    width: 42px; }

#overlay .filterApply {
    height: 35px;
    width: 80px;
    /*background: url("img/icons-sprite.png") no-repeat -595px 0px;*/
    border: 1px; }

.filterApply {
    position: absolute;
    right: 50%;
    bottom: 0}
