.jqx-widget-fenix {
    font-family: Roboto
}

.jqx-widget-content-fenix {
    color: #222;
    text-shadow: none;
    border-color: #c7c7c7;
    background: #fff;
    font-family: Roboto
}

.jqx-widget-header-fenix, .jqx-grid-fenix .jqx-widget-header-fenix {
    color: #fff;
    text-shadow: none;
    border-color: transparent;
    background-color: #90aec3;
    background-image: -moz-linear-gradient(top, #90aec3, #90aec3);
    background-image: -ms-linear-gradient(top, #90aec3, #90aec3);
    background-image: -o-linear-gradient(top, #90aec3, #90aec3);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#90aec3), to(#90aec3));
    background-image: -webkit-linear-gradient(top, #90aec3, #90aec3);
    background-image: linear-gradient(top, #90aec3, #90aec3);
    background-image: linear-gradient(to bottom, #90aec3, #90aec3);
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    font-family: Roboto
}

.jqx-grid-column-menubutton-fenix, .jqx-widget-fenix.jqx-grid-column-menubutton-fenix {
    border-color: transparent
}

.jqx-grid-cell-fenix, .jqx-widget-fenix .jqx-grid-cell-fenix {
    background-color: #fff;
    color: #666;
    text-shadow: none
}

.jqx-fill-state-normal-fenix {
    color: #222;
    text-shadow: none;
    border-color: #e6e6e6;
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #efefef, #efefef);
    background-image: -ms-linear-gradient(top, #efefef, #efefef);
    background-image: -o-linear-gradient(top, #efefef, #efefef);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#efefef), to(#efefef));
    background-image: -webkit-linear-gradient(top, #efefef, #efefef);
    background-image: linear-gradient(top, #efefef, #efefef);
    background-image: linear-gradient(to bottom, #efefef, #efefef);
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    font-family: Roboto
}

.jqx-button-fenix {
    color: #222;
    text-shadow: none;
    border-color: #aaa;
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #efefef, #efefef);
    background-image: -ms-linear-gradient(top, #efefef, #efefef);
    background-image: -o-linear-gradient(top, #efefef, #efefef);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#efefef), to(#efefef));
    background-image: -webkit-linear-gradient(top, #efefef, #efefef);
    background-image: linear-gradient(top, #efefef, #efefef);
    background-image: linear-gradient(to bottom, #efefef, #efefef);
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    font-family: Roboto
}

.jqx-grid-selectionarea-fenix {
    border-color: #e6e6e6;
    background-color: #efefef
}

.jqx-widget-fenix .jqx-grid-cell-sort-fenix, .jqx-widget-fenix .jqx-grid-cell-filter-fenix, .jqx-widget-fenix .jqx-grid-cell-pinned-fenix, .jqx-grid-cell-sort-fenix, .jqx-grid-cell-filter-fenix, .jqx-grid-cell-pinned-fenix {
    background-color: #aaa;
    color: #666;
    text-shadow: none
}

.jqx-widget-fenix .jqx-grid-cell-alt-fenix, .jqx-widget-fenix .jqx-grid-cell-sort-alt-fenix, .jqx-widget-fenix .jqx-grid-cell-pinned-alt-fenix, .jqx-widget-fenix .jqx-grid-cell-filter-alt-fenix, .jqx-grid-cell-alt-fenix, .jqx-grid-cell-sort-alt-fenix, .jqx-grid-cell-filter-alt-fenix {
    background-color: #f9f9f9;
    color: #666;
    text-shadow: none
}

.jqx-fill-state-hover-fenix, .jqx-widget-fenix .jqx-grid-cell-hover-fenix {
    color: #222;
    text-shadow: none;
    border-color: #999;
    background-color: #e8e8e8;
    background-image: -moz-linear-gradient(top, #e8e8e8, #e8e8e8);
    background-image: -ms-linear-gradient(top, #e8e8e8, #e8e8e8);
    background-image: -o-linear-gradient(top, #e8e8e8, #e8e8e8);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#e8e8e8), to(#e8e8e8));
    background-image: -webkit-linear-gradient(top, #e8e8e8, #e8e8e8);
    background-image: linear-gradient(top, #e8e8e8, #e8e8e8);
    background-image: linear-gradient(to bottom, #e8e8e8, #e8e8e8);
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    font-family: Roboto
}

.jqx-fill-state-pressed-fenix, .jqx-widget-fenix .jqx-grid-cell-selected-fenix {
    color: #222;
    text-shadow: none;
    border-color: #999;
    background-color: #d1d1d1;
    background-image: -moz-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -ms-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -o-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#d1d1d1), to(#d1d1d1));
    background-image: -webkit-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: linear-gradient(to bottom, #d1d1d1, #d1d1d1);
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    font-family: Roboto
}

.jqx-switchbutton-label-on-fenix {
    color: #222;
    text-shadow: none;
    border-color: #999;
    background-color: #d1d1d1;
    background-image: -moz-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -ms-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -o-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#d1d1d1), to(#d1d1d1));
    background-image: -webkit-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: linear-gradient(to bottom, #d1d1d1, #d1d1d1);
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box
}

.jqx-tabs-title-selected-top-fenix, .jqx-tabs-selection-tracker-top-fenix {
    color: #222;
    text-shadow: none;
    border-color: #c7c7c7;
    border-bottom: 1px solid #fff;
    background-image: none;
    background-color: #fff
}

.jqx-tabs-title-selected-bottom-fenix, .jqx-tabs-selection-tracker-bottom-fenix {
    color: #222;
    text-shadow: none;
    border-color: #c7c7c7;
    border-top: 1px solid #fff;
    background-image: none;
    background-color: #fff
}

.jqx-splitter-splitbar-hover-fenix {
    background: #e8e8e8
}

.jqx-splitter-splitbar-vertical-fenix, .jqx-splitter-splitbar-horizontal-fenix, .jqx-slider-track-horizontal-fenix, .jqx-slider-track-vertical-fenix {
    background: #efefef
}

.jqx-splitter-collapse-button-horizontal-fenix, .jqx-splitter-collapse-button-vertical-fenix, .jqx-slider-rangebar-fenix {
    background: #d1d1d1
}

.jqx-scrollbar-state-normal-fenix {
    background-color: #ffffff;
    border-color: transparent;
}

.jqx-grid-bottomright-fenix, .jqx-panel-bottomright-fenix, .jqx-listbox-bottomright-fenix {
    background-color: #efefef
}

.jqx-scrollbar-thumb-state-normal-fenix {
    background-color: #e1dfda;
    background-color: #e1dfda;
    background-image: -moz-linear-gradient(left, #efefef, #efefef);
    background-image: -ms-linear-gradient(left, #efefef, #efefef);
    background-image: -o-linear-gradient(left, #efefef, #efefef);
    background-image: -webkit-gradient(linear, left top, right top, from(#efefef), to(#efefef));
    background-image: -webkit-linear-gradient(left, #efefef, #efefef);
    background-image: linear-gradient(left, #efefef, #efefef);
    background-image: linear-gradient(left right, #efefef, #efefef)
}

.jqx-scrollbar-thumb-state-normal-horizontal-fenix {
    background-color: #efefef;
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #efefef, #efefef);
    background-image: -ms-linear-gradient(top, #efefef, #efefef);
    background-image: -o-linear-gradient(top, #efefef, #efefef);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#efefef), to(#efefef));
    background-image: -webkit-linear-gradient(top, #efefef, #efefef);
    background-image: linear-gradient(top, #efefef, #efefef);
    background-image: linear-gradient(to bottom, #efefef, #efefef);
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box
}

.jqx-scrollbar-thumb-state-hover-fenix {
    background-color: #888888;
    border-color: #888888;
    background-image: -moz-linear-gradient(left, #888888, #888888);
    background-image: -ms-linear-gradient(left, #888888, #888888);
    background-image: -o-linear-gradient(left, #888888, #888888);
    background-image: -webkit-gradient(linear, left top, right top, from(#888888), to(#888888));
    background-image: -webkit-linear-gradient(left, #888888, #888888);
    background-image: linear-gradient(left, #888888, #888888);
    background-image: linear-gradient(left right, #888888, #888888)
}

.jqx-scrollbar-thumb-state-hover-horizontal-fenix {
    background-color: #e8e8e8;
    border-color: #e8e8e8;
    background-image: -moz-linear-gradient(top, #e8e8e8, #e8e8e8);
    background-image: -ms-linear-gradient(top, #e8e8e8, #e8e8e8);
    background-image: -o-linear-gradient(top, #e8e8e8, #e8e8e8);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#e8e8e8), to(#e8e8e8));
    background-image: -webkit-linear-gradient(top, #e8e8e8, #e8e8e8);
    background-image: linear-gradient(top, #e8e8e8, #e8e8e8);
    background-image: linear-gradient(to bottom, #e8e8e8, #e8e8e8);
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box
}

.jqx-scrollbar-thumb-state-pressed-fenix {
    background-color: #d1d1d1;
    border-color: #d1d1d1;
    background-image: -moz-linear-gradient(left, #d1d1d1, #d1d1d1);
    background-image: -ms-linear-gradient(left, #d1d1d1, #d1d1d1);
    background-image: -o-linear-gradient(left, #d1d1d1, #d1d1d1);
    background-image: -webkit-gradient(linear, left top, right top, from(#d1d1d1), to(#d1d1d1));
    background-image: -webkit-linear-gradient(left, #d1d1d1, #d1d1d1);
    background-image: linear-gradient(left, #d1d1d1, #d1d1d1);
    background-image: linear-gradient(left right, #d1d1d1, #d1d1d1)
}

.jqx-scrollbar-thumb-state-pressed-horizontal-fenix {
    background-color: #d1d1d1;
    border-color: #d1d1d1;
    background-image: -moz-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -ms-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -o-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#d1d1d1), to(#d1d1d1));
    background-image: -webkit-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: linear-gradient(to bottom, #d1d1d1, #d1d1d1);
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box
}

.jqx-scrollbar-button-state-normal-fenix {
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#FFFFFF));
    background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box
}

.jqx-scrollbar-button-state-hover-fenix {
    background-color: #FFFFFF;
    border-color: transparent;
    background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#FFFFFF));
    background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box
}

.jqx-scrollbar-button-state-pressed-fenix {
    background-color: #d1d1d1;
    border-color: #909090;
    background-image: -moz-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -ms-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -o-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#d1d1d1), to(#d1d1d1));
    background-image: -webkit-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: linear-gradient(to bottom, #d1d1d1, #d1d1d1);
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box
}

.jqx-radiobutton-check-checked-fenix {
    background: #111;
    width: 7px;
    height: 7px;
    margin-left: 2px;
    margin-top: 2px;
    border-width: 1px;
    border-style: solid
}

.jqx-rc-tl-fenix {
    -moz-border-radius-topleft: 0;
    -webkit-border-radius-topleft: 0;
    border-radius-topleft: 0
}

.jqx-rc-tr-fenix {
    -moz-border-radius-topright: 0;
    -webkit-border-radius-topright: 0;
    border-radius-topright: 0
}

.jqx-rc-bl-fenix {
    -moz-border-radius-bottomleft: 0;
    -webkit-border-radius-bottomleft: 0;
    border-radius-bottomleft: 0
}

.jqx-rc-br-fenix {
    -moz-border-radius-bottomright: 0;
    -webkit-border-radius-bottomright: 0;
    border-radius-bottomright: 0
}

.jqx-rc-t-fenix {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0
}

.jqx-rc-b-fenix {
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0
}

.jqx-rc-r-fenix {
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0
}

.jqx-rc-l-fenix {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0
}

.jqx-radiobutton-default-fenix, .jqx-radiobutton-fenix, .jqx-radiobutton-check-checked-fenix, .jqx-radiobutton-hover-fenix, .jqx-radiobutton-check-indeterminate-fenix, .jqx-radiobutton-check-indeterminate-disabled-fenix, .jqx-slider-button-fenix {
    -moz-border-radius: 100% !important;
    -webkit-border-radius: 100% !important;
    border-radius: 100% !important
}

.jqx-rc-all-fenix, .jqx-tooltip-fenix, .jqx-tooltip-text-fenix, .jqx-tooltip-main-fenix {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0
}


.jqx-menu-vertical-fenix {
    background: #fff
}


.jqx-widget-fenix .jqx-grid-column-header-fenix, .jqx-widget-fenix .jqx-grid-cell-fenix, .jqx-widget-fenix .jqx-grid-group-cell-fenix, .jqx-grid-cell-fenix {
    border-color: #e5e5e5;
}



.jqx-tooltip-fenix, .jqx-tooltip-main-fenix {
    color: #222;
    text-shadow: none;
    border-color: #aaa;
    background-color: #efefef
}

.jqx-combobox-content-fenix, .jqx-input-fenix {
    color: #222;
    text-shadow: none;
    border-color: #aaa;
    background-color: #fff
}

.jqx-combobox-input-fenix {
    color: #222;
    text-shadow: none
}

.jqx-input-content-fenix {
    color: #222;
    text-shadow: none;
    background-color: #fff
}

.jqx-fill-state-focus-fenix, .jqx-popup-fenix .jqx-fill-state-focus-fenix {
    border-color: #111
}

.jqx-popup-fenix.jqx-listbox-fenix, .jqx-popup-fenix.jqx-calendar-fenix, .jqx-menu-dropdown-fenix, .jqx-popup-fenix.jqx-dropdownbutton-popup-fenix {
    color: #222;
    text-shadow: none;
    border-color: #111;
    background-color: #fff
}



.jqx-widget-fenix .jqx-grid-cell-fenix, .jqx-listitem-state-normal-fenix, .jqx-menu-item-normal-fenix, .jqx-tree-item-normal-fenix, .jqx-calendar-cell-fenix, .jqx-grid-cell-fenix, .jqx-menu-vertical-fenix .jqx-menu-item-top-normal-fenix, .jqx-input-popup-fenix .jqx-fill-state-normal-fenix {
    font-family: Roboto
}

.jqx-widget-fenix .jqx-grid-cell-hover-fenix, .jqx-listitem-state-hover-fenix, .jqx-menu-item-hover-fenix, .jqx-tree-item-hover-fenix, .jqx-calendar-cell-hover-fenix, .jqx-grid-cell-hover-fenix, .jqx-menu-vertical-fenix .jqx-menu-item-top-hover-fenix, .jqx-input-popup-fenix .jqx-fill-state-hover-fenix, .jqx-input-button-header-fenix, .jqx-input-popup-fenix .jqx-fill-state-pressed-fenix, .jqx-input-button-header-fenix {
    font-family: Roboto
}

.jqx-widget-fenix .jqx-grid-cell-selected-fenix, .jqx-listitem-state-selected-fenix, .jqx-menu-item-selected-fenix, .jqx-tree-item-selected-fenix, .jqx-calendar-cell-selected-fenix, .jqx-grid-cell-selected-fenix, .jqx-menu-vertical-fenix .jqx-menu-item-top-selected-fenix, .jqx-grid-selectionarea-fenix {
    font-family: Roboto
}

