/* FENIX */

* {
  color: #666666;
  font-family: 'Roboto', sans-serif !important;
}

.jumbotron {

  .container{

    .row{

      h1{
        color: #0076ff;
        font-family: 'Roboto', sans-serif !important;
        font-weight: 200;
        font-size: 40px !important;
        margin-top: 0px !important;
      }

      p{
        font-weight: 300 !important;
        font-size: 13px !important;
      }

      ul {
        list-style: circle;
        font-weight: 300 !important;
        font-size: 13px !important;
        font-size:  13px !important;

        li {
          margin-bottom: 6px !important;
          margin-left: 14px !important;
        }

      }

    }

  }

}

h2 {
  color: #0076ff;
  font-weight: 200;
}