body{
    position: relative;
    padding-top: 70px;
}

.bs-docs-sidebar.affix {
    position: static;
}
@media (min-width: 768px) {
    .bs-docs-sidebar {
        padding-left: 20px;
    }
}
.bs-docs-sidenav {
    margin-bottom: 20px;
    margin-top: 20px;
}
.bs-docs-sidebar .nav > li > a {
    color: #999999;
    display: block;
    font-size: 13px;
    font-weight: 500;
    padding: 4px 20px;
    cursor: pointer;
}
.bs-docs-sidebar .nav > li > a:hover, .bs-docs-sidebar .nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0);
    border-left: 1px solid #007AFF;
    color: #007AFF;
    padding-left: 19px;
    text-decoration: none;
}
.bs-docs-sidebar .nav > .active > a, .bs-docs-sidebar .nav > .active:hover > a, .bs-docs-sidebar .nav > .active:focus > a {
    background-color: rgba(0, 0, 0, 0);
    border-left: 2px solid #007AFF;
    color: #007AFF;
    font-weight: 700;
    padding-left: 18px;
}
.bs-docs-sidebar .nav .nav {
    display: none;
    padding-bottom: 10px;
}
.bs-docs-sidebar .nav .nav > li > a {
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 1px;
    padding-left: 30px;
    padding-top: 1px;
}
.bs-docs-sidebar .nav .nav > li > a:hover, .bs-docs-sidebar .nav .nav > li > a:focus {
    padding-left: 29px;
}
.bs-docs-sidebar .nav .nav > .active > a, .bs-docs-sidebar .nav .nav > .active:hover > a, .bs-docs-sidebar .nav .nav > .active:focus > a {
    font-weight: 500;
    padding-left: 28px;
}
@media (min-width: 992px) {
    .bs-docs-sidebar .nav > .active > ul {
        display: block;
    }
    .bs-docs-sidebar.affix, .bs-docs-sidebar.affix-bottom {
        width: 213px;
    }
    .bs-docs-sidebar.affix {
        position: fixed;
        top: 80px;
    }
    .bs-docs-sidebar.affix-bottom {
        position: absolute;
    }
    .bs-docs-sidebar.affix-bottom .bs-docs-sidenav, .bs-docs-sidebar.affix .bs-docs-sidenav {
        margin-bottom: 0;
        margin-top: 0;
    }
}
@media (min-width: 1200px) {
    .bs-docs-sidebar.affix-bottom, .bs-docs-sidebar.affix {
        width: 263px;
    }
}