.iframe-container {
    position: relative;
    padding-bottom: 40.67%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}



.iframe-container-poverty iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.iframe-container-poverty {
    position: relative;
    padding-bottom: 240%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
