/* Fenix Interace Common Style */
/* Produced By Fenix Team and Mentaltoy 2014 All rights riserved */
/* Fenix UI  DSD Editor  CSS - Mixins */
/* CSS TRANSFORMS */
/* CSS TRANSITION */
/* 3D flow */
/* Blurred */
/* Color Mixins */
/* Animations */
/* Fenix UI  DSD Editor  CSS - Colors */
/* Fenix Colors */
/* Specials */
/* Fenix Typography */
body {
  color: #666666;
  font: normal normal 300 14px/normal "Roboto Condensed"; }

a {
  color: #0076ff; }

.navbar-default .navbar-nav > li > a {
  color: #666666; }

.dropdown-menu > li > a {
  font-weight: 300;
  color: #666666; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
  font-weight: 100;
  color: #0076ff; }

h1, h2, h3, h4 {
  font-family: Roboto;
  font-weight: 100; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 20px; }

h4 {
  font-family: "Roboto Condensed"; }

/*  FENIX COMMONS */
body {
  background-color: #f8f8f8; }

/* Reset Jqwidget content font */
.jqx-widget, .jqx-widget-content, .jqx-fill-state-normal {
  font: normal normal 300 14px/normal "Roboto Condensed"; }

.fx-validation {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.fx-red-cell {
  background-color: orangered;
  color: white; }

.obj-box, .obj-box-radius10, .obj-box-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: white;
  border-color: #D8D8D8;
  border-image: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px 1px 2px;
  margin: 10px 0 20px;
  padding: 20px;
  width: auto; }

.obj-box-radius10 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.obj-box-title {
  padding-top: 5px; }
  .obj-box-title h4 {
    text-transform: uppercase;
    color: #0076ff;
    font-size: 14px;
    font-weight: 300; }

.title-ico {
  height: 30px;
  width: 30px;
  margin: -4px 10px 0 0; }

.fx-bullet-number {
  display: block;
  float: left;
  font-size: 15px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  font-style: normal;
  background-color: #0076ff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  color: white;
  margin-right: 10px; }

/* Iframe Style */
.iframe-container {
  position: relative;
  padding-bottom: 40.67%;
  padding-top: 35px;
  height: 0;
  overflow: hidden; }

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.iframe-container-poverty iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.iframe-container-poverty {
  position: relative;
  padding-bottom: 240%;
  padding-top: 35px;
  height: 0;
  overflow: hidden; }

/* Iframe showcase */
.iframe-container-trade {
  position: relative;
  padding-bottom: 310%;
  padding-top: 35px;
  height: 0;
  overflow: hidden; }

.iframe-container-trade iframe, .iframe-container-poverty iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.iframe-container-poverty {
  position: relative;
  padding-bottom: 240%;
  padding-top: 35px;
  height: 0;
  overflow: hidden; }

.bs-docs-sidebar.affix {
  position: static; }

.bs-docs-sidenav {
  margin-bottom: 20px;
  margin-top: 20px; }

.bs-docs-sidebar .nav > li > a {
  color: #666666;
  display: block;
  padding: 4px 20px;
  cursor: pointer;
  border-left: 1px solid transparent; }

.bs-docs-sidebar .nav > li > a:hover, .bs-docs-sidebar .nav > li > a:focus {
  background-color: transparent;
  border-left: 1px solid #0076ff;
  color: #007AFF;
  text-decoration: none; }

.bs-docs-sidebar .nav > .active > a, .bs-docs-sidebar .nav > .active:hover > a, .bs-docs-sidebar .nav > .active:focus > a {
  background-color: transparent;
  border-left: 1px solid #0076ff;
  color: #007AFF;
  font-weight: 700; }

.bs-docs-sidebar .nav .nav {
  display: none;
  padding-bottom: 10px; }

.bs-docs-sidebar .nav .nav > li > a {
  padding-bottom: 1px;
  padding-left: 30px;
  padding-top: 1px; }

@media (min-width: 768px) {
  .bs-docs-sidebar {
    padding-left: 20px; } }
@media (min-width: 992px) {
  .bs-docs-sidebar .nav > .active > ul {
    display: block; }

  .bs-docs-sidebar.affix, .bs-docs-sidebar.affix-bottom {
    width: 213px; }

  .bs-docs-sidebar.affix {
    position: fixed;
    top: 80px; }

  .bs-docs-sidebar.affix-bottom {
    position: absolute; }

  .bs-docs-sidebar.affix-bottom .bs-docs-sidenav, .bs-docs-sidebar.affix .bs-docs-sidenav {
    margin-bottom: 0;
    margin-top: 0; } }
@media (min-width: 1200px) {
  .bs-docs-sidebar.affix-bottom, .bs-docs-sidebar.affix {
    width: 263px; } }
/* Pages */
/*@import 'fx-home'; /* Home with background image */
/* HOMEPAGE */
.fx-home-header {
  text-align: center;
  color: white;
  margin-top: 50px; }
  .fx-home-header h1 {
    font-size: 59px;
    font-weight: 700; }
    .fx-home-header h1 em {
      font-style: normal;
      font-weight: 100; }
  .fx-home-header h3 {
    font-size: 16px;
    font-weight: 700; }
  .fx-home-header img {
    position: relative;
    top: -6px; }

.fx-home-ico-holder {
  height: 50px;
  width: 50px;
  border: 1px solid #666666;
  padding: 5px; }
  .fx-home-ico-holder img {
    width: 100%;
    height: 100%; }

.fx-home-content-grid {
  text-align: justify; }
  .fx-home-content-grid .fx-home-ico-holder {
    position: absolute;
    left: 0;
    top: 2px; }
  .fx-home-content-grid h1 {
    font-family: Roboto;
    font-weight: 100;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #0076ff; }
  .fx-home-content-grid h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    font-family: "Roboto Condensed";
    text-transform: uppercase; }
  .fx-home-content-grid .fx-home-categories {
    padding-left: 71px;
    margin-bottom: 20px;
    position: relative; }
  .fx-home-content-grid ul {
    padding-left: 0;
    list-style: none; }
    .fx-home-content-grid ul li {
      margin-bottom: 8px;
      position: relative;
      padding-left: 30px; }
      .fx-home-content-grid ul li em {
        font-style: normal;
        font-size: 10px;
        height: 15px;
        width: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        border-radius: 15px;
        border: 1px solid #666666;
        display: inline-block;
        line-height: 1.3;
        text-align: center;
        position: absolute;
        left: 0;
        top: 3px; }
  .fx-home-content-grid .fx-git-logo {
    margin-top: 23px; }

p.fx-strong {
  font-weight: 700; }

.fx-background-image {
  height: 210px;
  width: 100%;
  position: absolute;
  background-image: url(img/background-home.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

@media (max-width: 490px) {
  .fx-background-image {
    height: 286px;
    width: 100%;
    position: absolute;
    background-image: url(img/background-home.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }
/* ECO training website override*/
.fx-eco-header {
  margin-top: 25px; }
  .fx-eco-header h1 {
    margin-top: 0;
    margin-bottom: 0; }
  .fx-eco-header h3 {
    margin-top: 5px;
    font-weight: 400;
    margin-bottom: 0; }
  .fx-eco-header h4 {
    font-size: 12px;
    font-family: Roboto;
    text-transform: uppercase; }

.fx-background-image {
  height: 290px;
  width: 100%;
  position: absolute;
  background-image: url(img/background-home-eco.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

@media (max-width: 490px) {
  .fx-background-image {
    height: 410px;
    width: 100%;
    position: absolute;
    background-image: url(img/background-home-eco.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }
