/* Host CSS */
/* Fenix UI  DSD Editor  CSS - Mixins */
/* CSS TRANSFORMS */
/* CSS TRANSITION */
/* 3D flow */
/* Blurred */
/* Color Mixins */
/* Animations */
/* Fenix UI  DSD Editor  CSS - Colors */
/* Fenix Colors */
/* Specials */
body {
  padding-top: 50px; }

/* Menu Background color */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #f8f8f8;
  color: #0076ff; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #666666;
  border-color: #f8f8f8; }

.navbar {
  margin-bottom: 0; }

.page-header {
  margin: 20px 0 0 0;
  border: none; }
  .page-header h1 {
    text-align: center;
    font-size: 38px; }
  .page-header p {
    text-align: center; }

#overlay .closeOverlay {
  height: 35px;
  width: 35px;
  background: url("img/icons-sprite.png") no-repeat -595px 0px;
  border: none; }

#fx-catalog-results {
  margin-top: 20px; }

.fx-analysis-page-title {
  font-weight: 100;
  color: #666666; }

.fx-analysis-page-description {
  color: #666666; }

.well {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: 0 0 0 white;
  -moz-box-shadow: 0 0 0 white;
  box-shadow: 0 0 0 white; }

.fx-catalog-toolbar {
  color: #666666; }
  .fx-catalog-toolbar .fx-widget-stack-btns {
    text-align: right; }
    .fx-catalog-toolbar .fx-widget-stack-btns em {
      font-style: normal;
      background-color: #666666;
      width: 30px;
      height: 20px;
      display: inline-block;
      color: white;
      text-align: center;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px; }
    .fx-catalog-toolbar .fx-widget-stack-btns input {
      margin-left: 33px; }

.btn {
  background-color: #0076ff;
  color: white;
  border-color: transparent; }
  .btn:hover {
    background-color: transparent;
    color: #0076ff;
    border-color: #0076ff; }
  .btn:active {
    background-color: transparent;
    color: #0076ff;
    border-color: #0076ff;
    -webkit-box-shadow: 0 0 0 white;
    -moz-box-shadow: 0 0 0 white;
    box-shadow: 0 0 0 white; }

/*================= Packry =================*/
.fx-analysis-item {
  width: 50%;
  z-index: 200;
  /* Veify correct z.index */ }

.fx-analysis-item.fit {
  width: 100%; }

/*================= Overlay =================*/
/* Please review */
#overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 50px;
  z-index: 500;
  overflow-y: scroll; }
  #overlay .overlay-content {
    height: 100%; }
    #overlay .overlay-content #catalogContainer {
      height: 100%; }

.closeOverlay {
  position: absolute;
  right: 0; }
