/* Fenix Colors */
/* Imported by Analysis, should be deleted ASAP */
/* Animations */
/* Shadow */
/* Boreder Radius */
html, body {
  height: 100%; }

body {
  padding-top: 70px; }

#overlay .closeOverlay {
  height: 35px;
  width: 35px;
  background: url("img/icons-sprite.png") no-repeat -595px 0px;
  border: none; }

#fx-catalog-results {
  margin-top: 20px; }

.fx-analysis-page-title {
  font-weight: 100;
  color: #666666; }

.fx-analysis-page-description {
  color: #666666; }

.well {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: 0 0 0 white ;
  -moz-box-shadow: 0 0 0 white ;
  box-shadow: 0 0 0 white ; }

.fx-catalog-toolbar {
  color: #666666; }
  .fx-catalog-toolbar .fx-widget-stack-btns {
    text-align: right; }
    .fx-catalog-toolbar .fx-widget-stack-btns em {
      font-style: normal;
      background-color: #666666;
      width: 30px;
      height: 20px;
      display: inline-block;
      color: white;
      text-align: center;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px; }
    .fx-catalog-toolbar .fx-widget-stack-btns input {
      margin-left: 33px; }

.btn {
  background-color: transparent;
  color: #666666;
  border-color: #666666; }
  .btn:hover {
    background-color: transparent;
    color: #666666;
    border-color: #666666; }
  .btn:active {
    background-color: #666666;
    color: white;
    border-color: #666666;
    -webkit-box-shadow: 0 0 0 white ;
    -moz-box-shadow: 0 0 0 white ;
    box-shadow: 0 0 0 white ; }

/*================= Packry =================*/
.fx-analysis-item {
  width: 50%;
  z-index: 200;
  /* Veify correct z.index */ }

.fx-analysis-item.fit {
  width: 100%; }

/*================= Overlay =================*/
/* Please review */
#overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 70px;
  z-index: 500;
  overflow-y: scroll; }
  #overlay .overlay-content {
    height: 100%; }
    #overlay .overlay-content #catalogContainer {
      height: 100%; }
  #overlay .modal {
    background-color: rgba(0, 0, 0, 0.5); }
    #overlay .modal .modal-dialog {
      top: 50px; }

.closeOverlay {
  position: absolute;
  right: 0; }

body > .modal-backdrop {
  opacity: 0 !important;
  pointer-events: none; }

