/* Host CSS */
@import 'fx-mixins';
@import 'fx-colors';

$host-menu-height : 50px;

body{
  padding-top: $host-menu-height;
}

/* Menu Background color */

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background-color:$fenix-light-bg;
  color: $fx-cool-blue;

}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
  color: $fenix-text;
  border-color: $fenix-light-bg;
}

.navbar {
  margin-bottom: 0;
}

.page-header {
  margin: 20px 0 0 0;
  border: none;

  h1{
    text-align: center;
    font-size: 38px;
  }

  p{
    text-align: center;
  }
}

#overlay {
  .closeOverlay{
    height: 35px;
    width: 35px;
    background: url("img/icons-sprite.png") no-repeat -595px 0px;
    border: none;
  }
}


#fx-catalog-results{
  margin-top: 20px;
}

.fx-analysis-page-title{
  font-weight: 100;
  color: $fenix-text;
}
.fx-analysis-page-description{
  color: $fenix-text;
}

.well {
  background-color: transparent;
  border: none;
  @include fx-box-shadow(0, 0, 0, white);

}

.fx-catalog-toolbar{
  color: $fenix-text;
  .fx-widget-stack-btns{
    text-align: right;
    em{
      font-style: normal;
      background-color: $fenix-text;
      width: 30px;
      height: 20px;
      display: inline-block;
      color: white;
      text-align: center;
      @include fx-border-radius(3px)
    }
    input {
      margin-left: 33px;
    }
  }
}

.btn{
  background-color:$fx-cool-blue;
  color: white;
  border-color: transparent;
  &:hover{
    background-color: transparent;
    color: $fx-cool-blue;
    border-color: $fx-cool-blue;
  }
  &:active{
    background-color: transparent;
    color: $fx-cool-blue;
    border-color: $fx-cool-blue;
    @include fx-box-shadow(0, 0, 0, white);
  }

}

/*================= Packry =================*/
.fx-analysis-item {
  width: 50%;
  z-index: 200; /* Veify correct z.index */
}

.fx-analysis-item.fit {
  width: 100%;
}

/*================= Overlay =================*/

/* Please review */

#overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  background-color: $white-alpha;

  padding-top: $host-menu-height;
  z-index: 500;
  overflow-y: scroll;

  .overlay-content{
    height: 100%;
   #catalogContainer{
     height: 100%
   }
  }

}

.closeOverlay {
  position: absolute;
  right: 0;
}
