@import 'fx-mixins';

/*========= HEADER =========*/
.fx-editor-header {
    height: 20px;
    background-color: #6e6e6e;
    color: #f3f3f3;
    padding-right: 30px;

}

.fx-editor-header em {
    font-style: normal;
}

.fx-editor-header-btn {
    cursor: pointer;
}

.fx-editor-header-btn-expand:after {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: url("../css/icons/fenix-editor-sprite-small.png") no-repeat -105px 0;
    cursor: pointer;
    top: 3px;
}


/*========= DATA ENTRY CONTAINER =========*/
.fx-editor-data-entry-container {
    min-height: 250px;
    overflow: hidden;
}

/*========= MENU =========*/
.fx-editor-menu-container {

    padding: 0;
    min-height: 250px;
}

.fx-editor-menu-container:after {
    position: absolute;
    content: "";
    height: 900px;
    width: 20px;

    top: 0;
    right: -14px;
}

.fx-editor-menu-container .btn-default:hover {

}

.panel-default:last-child {
    border-bottom-width: 0px !important;
}

#fx-editor-menu .panel {
    -webkit-border-radius: 0;
    border-radius: 0;
}

#fx-editor-menu .panel-default {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;

}



.fx-menu-category-title {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
}

.panel-title a {
    text-decoration: none;
    outline:0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

/** references Glyphicons Halflings font, included in Bootstrap  **/
.fx-editor-menu-glyphicon {
    font-family: "Glyphicons Halflings";
}


.fx-editor-menu-plus:after {
    padding-right: 10px;
    content: "\002B";
}


.fx-editor-menu-minus:after {
    padding-right: 10px;
    content: "\2212";
}


.fx-editor-sub-entity .fx-editor-menu-plus:after {
    padding-right: 15px;
}


.fx-editor-sub-entity .fx-editor-menu-minus:after {
    padding-right: 15px;
}


.fx-editor-menu-info:after {
    padding:0;
    content: "\E086";
}

.fx-editor-menu-asterix:after {
    padding:0;
    content: "\002A";
}


#fx-editor-menu .panel-heading {

    -webkit-border-radius: 0;
    border-radius: 0;
}

#fx-editor-menu .panel-heading.fx-editor-active-panel, #fx-editor-form .panel-heading.fx-editor-active-panel {

}

#fx-editor-menu .panel-heading.fx-editor-sub-entity-active-panel {

}

#fx-editor-menu .panel-heading.fx-editor-sub-entity  {
    /** padding: 5px 5px;**/
}

#fx-editor-menu .panel-heading.fx-editor-entity  {

    border-bottom: 1px solid #e5e5e5;
}

#fx-editor-menu .panel-default > .panel-heading + .panel-collapse .panel-body {

    padding: 5px 10px 10px 10px;

}

.panel-default > .panel-heading {
  background-color: transparent;
}

#fx-editor-menu .panel-group .panel + .panel {
    margin-top: 0;
}

.fx-menu-entity-title {
    text-transform: uppercase;
    text-decoration: none;
}

.fx-menu-sub-entity-title  {
    color: #6e6e6e;
    text-transform: none;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}


#fx-editor-menu .panel-body, #fx-editor-menu button {
    color: #6e6e6e;
}


#fx-editor-menu .panel-body, #fx-editor-menu button:disabled, #fx-editor-menu button[disabled=disabled] {
    color: #3276B1;
}


#fx-editor-menu .panel-body button {
    border-color: white;
    text-align: left;
    white-space: normal;
    /*padding: 3px 12px;*/
}



#fx-editor-menu .panel-body button span {
    margin-right: 9px;
}

#fx-editor-menu .panel-body .btn-xs span {
    margin-right: 0;
}


/** avoid dotted lines when clicking on button**/
input[type="button"] {
    outline:none;
}

input[type="button"]::-moz-focus-inner{
    border:0;
}


/*========= FORM ================*/

/* remove x icon in IE 10+ */
input[type=text]::-ms-clear { display: none; }

#fx-editor-form .form-horizontal .control-label {
    text-align: left;
}


/*
  /* affects: select box on click box reduces size
   overflow: hidden;
 select:focus {
     width: auto;
     position: relative;
 }*/

#fx-editor-form .control-label, .form-control {
    font-size: 12px;
}

#fx-editor-form .fnx-control-subtitle label {
    font-size: 12px;
    font-weight: normal;
}


#fx-editor-form fieldset
{
    position: relative;
    margin-top: 1.5em;
    border:0
}

#fx-editor-form legend
{
    position: absolute;
    cursor: pointer;
    font-size: 12px;
    top: -1.7em;
    border:0
}


#fx-editor-form .fnx-fieldset-1 {
    background: #EEEEFF;
    border: 1px solid #999;
}

#fx-editor-form .fnx-fieldset-2 {
    background: #F3EFE0;
 }

 #fx-editor-form .fnx-fieldset-3 {
     background: #DCDCDC;
 }


#fx-editor-form fieldset .form-group, #fx-editor-form .fnx-fieldset-2 legend span  {
    color: #474752;
    margin-left: 20px;
}

#fx-editor-form .fnx-fieldset-2 .form-group, #fx-editor-form .fnx-fieldset-3 legend span  {
    color: #474752;
    margin-left: 50px;
}

#fx-editor-form .fnx-fieldset-3 .form-group {
    color: #474752;
    margin-left: 70px;
}

#fx-editor-form .popover-title, #fx-editor-menu .popover-title {
    color:#333333;
    text-transform: none;
    font-size: 15px;
}
#fx-editor-form .popover-content, #fx-editor-menu .popover-content {
    color: #333333;
    text-transform: none;
    font-size: 11px;
}


/* Adjust feedback icon position */
#fx-editor-form .form-control-feedback {
    top: 0px;
    right: 15px;
}
#fx-editor-form .selectContainer .form-control-feedback {
    top: 0px;
    right: 25px;
}

/* date picker */
.datepicker { font-size: 11px; }

/* tags input picker */
.bootstrap-tagsinput {
    /** problem in IE, placeholder is cut
     font-size: 11px;  **/
}

/**.bootstrap-tagsinput input {
    font-size: 11px;
}    **/

.fx-editor-form-module {
    width: 50%;
    background-color: white;
    border: 10px solid #E3E3E3;
    border-radius: 4px;
    /*margin-bottom: 20px;*/
    min-height: 20px;
    /*    padding: 19px;*/
}

.fx-editor-form-module.fit {
    width: 100%;
}

.fx-editor-modular-filter-container {
    background-color: #E3E3E3;
    min-height: 250px;
    overflow: hidden;
}

.fx-editor-modular-form-wrapper {
    /* affects: FF select box display - right border missing
     padding-right: 0; */
    overflow: hidden;
}

.fx-editor-modular-form-container {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: white;
  border-color: #D8D8D8;
  border-image: none;
  @include fx-border-radius(3px);
  border-style: solid;
  border-width: 1px 1px 2px;
  margin: 10px 0 20px;
  padding: 20px;
  width: auto;
}

.fx-editor-form-module {
    /*padding: 7px;  */
    /*border: 0;   */
    height: 170px;
}

.fx-editor-modular-form-header {
    position: relative;
    background-color: #ffd865;
    height: 30px;
}

.fx-editor-modular-form-handler {
    position: absolute;
    left: 7px;
    top: 7px;
    height: 15px;
    width: 15px;
    background: url("../css/icons/fenix-editor-sprite-small.png") no-repeat -15px 0;
    cursor: pointer;
}

.fx-editor-modular-form-close-btn {
    position: absolute;
    top: 7px;
    right: 7px;
    height: 15px;
    width: 15px;
    background: url("../css/icons/fenix-editor-sprite-small.png") no-repeat -45px 0;
    cursor: pointer;
}

.fx-editor-modular-form-resize-btn {
    position: absolute;
    top: 7px;
    right: 28px;
    height: 15px;
    width: 15px;
    background: url("../css/icons/fenix-editor-sprite-small.png") no-repeat -30px 0;
    cursor: pointer;
}

.fx-editor-modular-form-label {
    position: absolute;
    top: 4px;
    left: 30px;
    font-weight: 300;
}

.fx-editor-modular-form-content {
    padding: 10px 10px 10px 10px;
    height: 100px;
}

.fx-editor-mod-timerseries {
    top: 25px;
}

/*========= RESUME BAR =========*/
.fx-editor-resume-bar {
    background-color: #e1dfda;
    min-height: 38px;
}

#fx-editor-resume {
    margin-left: 300px;
    margin-right: 80px;
    padding-bottom: 5px;
}

#fx-editor-submit-btn {
    color: #f3f3f3;
    text-transform: uppercase;
    background-color: #6e6e6e;
    position: absolute;
    right: 0;
    height: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius:0;
    border-radius:0;
}

.fx-editor-resume-bar-help {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 7px;
    background: url("../css/icons/fenix-editor-sprite.png") no-repeat -0px 0;
}

.fx-editor-resume-bar-text {
    position: absolute;
    top: 9px;
    left: 215px; /* Sistemare questo */
}

.fx-editor-resume-bar-arrow {
    position: absolute;
    height: 25px;
    width: 25px;
    background: url("../css/icons/fenix-editor-sprite-small.png") no-repeat -135px 0;
    top: 12px;
    left: 288px; /* Sistemare questo */
}

.fx-resume-item-selected{
    display: inline-block;
    background-color: #f1f0ed;
    min-height: 24px;
    margin: 5px 5px 3px 5px;
    padding: 0 10px 2px 30px;
    border: 1px solid #6E6E6E;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
}

.fx-resume-item-selected i{
    margin-right: 3px;
    position: absolute;
    left: 3px;
    top: 4px;
}


/*========= COMMONS =========*/



.fx-typo-black {
    font-weight: 900;
    text-transform: uppercase;
}

.fx_horegon {
    display: inline;
}



