/**
 * Demo page styles, all list scroll effects styles are in sctroll.css
 */



body {
    overflow: hidden;
}

#crazy-scroll {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
#crazy-scroll li {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#fx-catalog-results {
           padding: 0;
}


/**
 * List used for the demo page
 */
ul {
	position: relative;
	width: 230px;
	height: 480px;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	list-style: none;

	-webkit-perspective: 400px;
	   -moz-perspective: 400px;
	    -ms-perspective: 400px;
	     -o-perspective: 400px;
	        perspective: 400px;
}
ul li {
    position: relative;
    color: #252525;
    font-size: 18px;
    z-index: 2;

    -webkit-transform: translateZ(0px);
       -moz-transform: translateZ(0px);
        -ms-transform: translateZ(0px);
         -o-transform: translateZ(0px);
            transform: translateZ(0px);
}