<!-- FAO header container -->
<div class="container header">
    <div class="row ">
        <div class="col-xs-12">
            <a class="navbar-brand" href="index.html"></a>
        </div>
    </div>
</div>


<!-- Top menu container -->
<div class="container topmenu">
    <div class="row">
        <div class="col-xs-12 topmenu-buttons-holder">
            <div id="top-menu-container"></div>
        </div>
    </div>
</div>

<!-- Breadcrumb container -->
<div class="container container-breadcrumb">
    <div class="row">
        <div class="col-xs-12">
            <div id="breadcrumb-container"></div>
        </div>
    </div>
</div>

<!-- Data mng menu container -->
<div class="container data-mng-secondary-menu-container">
    <div id="data-mng-menu-container"></div>
</div>

<div class="container" id="main-container"></div>

<div class="container">
    <div class="row">

        <div class="col-xs-12">
            <br><br><br><br>
        </div>

    </div>

</div>

<!-- Page Footer -->
<footer class="container">


        <div class="row">
            <div class="col-sm-3">
                <h4>About ECA</h4>
                <ul class="list-unstyled">
                    <li><a href="#" >Overview</a></li>
                    <li><a href="#" >Mandates</a></li>
                    <li><a href="#" >Executive secretary</a></li>
                    <li><a href="#" >Deputy Executive secretary</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4>Opportunities</h4>
                <ul class="list-unstyled">
                    <li><a href="#" >Vacancies</a></li>
                    <li><a href="#" >Procurement</a></li>
                    <li><a href="#" >Language Classes</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4>Resources</h4>
                <ul class="list-unstyled">
                    <li><a href="#" >Databank</a></li>
                    <li><a href="#" >Knowledge Services</a></li>
                    <li><a href="#" >Training</a></li>
                    <li><a href="#" >United Nations Conference Centre</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4>Follow ECA</h4>


                <a href="https://www.facebook.com/EconomicCommissionforAfrica"
                   target="_blank" class="social-holder">
                    <img src="src/images/facebook_26.png" alt="facebook" title="facebook">
                </a>

                <a href="https://twitter.com/eca_official" target="_blank" class="social-holder">
                    <img src="src/images/twitter.png" alt="Twitter" title="Twitter">
                </a>

                <a href="https://www.youtube.com/user/unecaVideo" target="_blank" class="social-holder">
                    <img src="src/images/youtube.png" alt="YouTube" title="YouTube">
                </a>

                <a href="https://www.flickr.com/photos/96044621@N08/" target="_blank" class="social-holder">
                    <img src="src/images/flickr_23.png" alt="flickr" title="flickr">
                </a>

                <a href="http://www.uneca.org/rss.xml" title="Opens internal link in current window" class="social-holder">
                    <img src="src/images/rss.png" alt="RSS news feeds" title="RSS news feeds">
                </a>



            </div>

        </div>


    <br><br>






    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <ul class="list-unstyled list-inline">
                    <li><a href="#" >Copyright</a></li>
                    <li><a href="#" >Privacy Notice</a></li>
                    <li><a href="#" >Terms of Use</a></li>
                    <li><a href="#" >Fraud Alert</a></li>
                    <li><a href="#" >Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right">
                <a href="/contact-us/terms/fr/">
                    Powered by Fenix
                </a>
            </div>
        </div>
    </div>

</footer>


</div>