<div class="container uae-header-container">
    <img src="src/css/img/logo-retina.jpg" height="70px" width="203px">
    <img class="pull-right" src="src/css/img/logo-retina-uae.jpg" height="70px" width="78px">
</div>

<!-- Top menu container -->
<div class="container topmenu uae-menu-container">
    <div class="row">
        <div class="col-xs-12 topmenu-buttons-holder">
            <div id="top-menu-container"></div>
        </div>
    </div>
</div>

<!-- Breadcrumb container -->
<div class="container container-breadcrumb">
    <div class="row">
        <div class="col-xs-12">
            <div id="breadcrumb-container"></div>
        </div>
    </div>
</div>

<div class="container" id="main-container"></div>

<div class="container">
    <div class="row">

        <div class="col-xs-12">
            <br><br><br><br>
        </div>

    </div>

</div>

<!-- Page Footer -->
<div class="container uae-footer-container">

    <footer class="uae-footer">
        <!-- Logo & Social -->

        <div class="uae-footer-upper">

            <p>UAE Statistics provides an Up-to-Date High Quality Statistical Data and Information,which Contribute in
                Decision Making, Policy Design and Performance Evaluation</p>

            <div class="uae-social-holder">

                <ul class="uae-footer-social">
                    <li class="uae-footer-social-facebook">
                        <a href="#"> <img class="uae-footer-logo-image-social" src="src/css/img/uae-footer-facebook.svg"
                                          height="30px" width="30px"></a>
                    </li>
                    <li class="uae-footer-social-twitter">
                        <a href="#"><img class="uae-footer-logo-image-social" src="src/css/img/uae-footer-twitter.svg"
                                         height="30px" width="30px"></a>
                    </li>
                    <li class="uae-footer-social-youtube">
                        <a href="#"><img class="uae-footer-logo-image-social" src="src/css/img/uae-footer-youtube.svg"
                                         height="30px" width="30px"></a>
                    </li>
                </ul>

            </div>

        </div>

        <div class="uae-footer-bottom">
            <div class="col-xs-2">
                <span>UAE© 2015</span>
            </div>
            <div class="col-xs-8">
                <div id="uae-footer-menu-container" class="footer-menu-container">
                    <ul>
                        <li><a href="#home" class="">Home</a></li>
                        <li><a href="#country" class="">About Us</a></li>
                        <li><a href="#standards" class="">Download Questionnaire</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-2">
                <span class="pull-right">Powered by <a target="_self" href="http://fenix.fao.org">FENIX</a></span>
            </div>
        </div>


    </footer>

</div>