<h1>{{title}}</h1>

<form role="form">
    <div class="form-group">
        <input id="country-search-input" class="form-control" type="search" placeholder="Search..." />
    </div>
</form>

<div class="row voh-countrydata-list-holder">
    <div class="col-xs-12">
        <ul id="country-list" class="voh-download-list"></ul>
    </div>
</div>

<br><br>