<li class="voh-list-group-item">
    <div class="voh-download-ico"><span class="icojam_xls"></span></div>
    <h3 class="download-title"> {{ i18n title }}</h3>
    <div class="voh-download-item-body"> {{ i18n body }}</div>
     <a target="_blank" href={{isI18n link}}><button class="btn btn-default"> DONWLOAD</button></a>
</li>