<div>

    <section data-dashboard="trade">
        <div class="row">




            <div class="col">
                <div class="col-xs-6">

                    <div class="obj-box-header"><h2>Export Value</h2></div>
                    <div class="obj-box">
                        <div id="TR-item-1"></div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="col-xs-6">

                    <div class="obj-box-header"><h2>Export Quantity</h2></div>
                    <div class="obj-box">
                        <div id="TR-item-2"></div>
                    </div>
                </div>
            </div>




        </div>




        <div class="row">

        <div class="col">
            <div class="col-xs-6">

                <div class="obj-box-header"><h2>Import Value</h2></div>
                <div class="obj-box">
                    <div id="TR-item-3"></div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="col-xs-6">

                <div class="obj-box-header"><h2>Import Quantity</h2></div>
                <div class="obj-box">
                    <div id="TR-item-4"></div>
                </div>
            </div>
        </div>

</div>

        <div class="row">

            <div class="col">
                <div class="col-xs-6">

                    <div class="obj-box-header"><h2>Re-Export Value</h2></div>
                    <div class="obj-box">
                        <div id="TR-item-5"></div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="col-xs-6">

                    <div class="obj-box-header"><h2>Re-Export Quantity</h2></div>
                    <div class="obj-box">
                        <div id="TR-item-6"></div>
                    </div>
                </div>
            </div>

        </div>




    </section>

    <section data-dashboard="livestock">

        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h2>Distribution of livestock by year</h2></div>
                <div class="obj-box">

                    <div id="LS-item-1"></div>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h2>Distribution of livestock by Emirate</h2></div>
                <div class="obj-box">

                    <div id="LS-item-2"></div>
                    <p>Note: The map refers to the last available year (2013).</p>
                </div>
            </div>
        </div>





    </section>

    <section data-dashboard="crops">





        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h2> Distribution of area harvested by year </h2></div>
                <div class="obj-box">

                    <div id="CR-item-1"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h2>Distribution of area harvested by Emirate</h2></div>
                <div class="obj-box">

                    <div id="CR-item-2"></div>
                    <p>Note: The map refers to the last available year (2013).</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h2>Distribution of production quantity by year</h2></div>
                <div class="obj-box">

                    <div id="CR-item-3"></div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h2>Distribution of production quantity by Emirate</h2></div>
                <div class="obj-box">

                    <div id="CR-item-4"></div>
                    <p>Note: The map refers to the last available year (2013).</p>
                </div>
            </div>
        </div>






    </section>

</div>