<div>

    <section data-dashboard="trade">

        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Export/Import Value</h1></div>
                <div class="obj-box">

                    <div id="TR-item-1"></div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Export/Import Quantity</h1></div>
                <div class="obj-box">

                    <div id="TR-item-2"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Re-Export/Import Value</h1></div>
                <div class="obj-box">

                    <div id="TR-item-3"></div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Re-Export/Import Quantity</h1></div>
                <div class="obj-box">

                    <div id="TR-item-4"></div>
                </div>
            </div>
        </div>




    </section>

    <section data-dashboard="livestock">

        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Map </h1></div>
                <div class="obj-box">

                    <div id="LS-item-1"></div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Bar chart</h1></div>
                <div class="obj-box">

                    <div id="LS-item-2"></div>
                </div>
            </div>
        </div>

    </section>

    <section data-dashboard="crops">

        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Map area harvested</h1></div>
                <div class="obj-box">

                    <div id="CR-item-1"></div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Bar chart</h1></div>
                <div class="obj-box">

                    <div id="CR-item-2"></div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Map </h1></div>
                <div class="obj-box">

                    <div id="CR-item-3"></div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-xs-12">

                <div class="obj-box-header"><h1>Bar chart</h1></div>
                <div class="obj-box">

                    <div id="CR-item-4"></div>
                </div>
            </div>
        </div>


    </section>

</div>