<h2>Dashboard</h2>
<hr>
<div class="row">

    <div class="col-xs-3">

        <div id="lateral-menu"></div>

    </div>

    <div class="col-xs-9">

        <div class="row filter-holder">

            <div class="col-xs-10">
                <div id="filter-content"></div>
            </div>

            <div class="col-xs-2">
                <div class="pull-right">
                    <button type="button" id="filter-btn" class="btn btn-default">Apply Filter</button>
                </div>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div id="dashboard-content"></div>
            </div>
        </div>
    </div>

</div>