<hr>
<div class="row">
    <div class="col-xs-5">
        <h1>Codelist</h1>
        <div id="standards-list"></div>
    </div>
    <div class="col-xs-7">
        <div id="standards-container">
            <h1 id="codelist-title"></h1>
            <div id="codelist-tree-container"> </div>
        </div>
    </div>
</div>
