<h2>Methods and Standards</h2>
<hr>
<div class="row">
    <div class="col-xs-5">
        <h2>Codelist</h2>
        <div id="standards-list"></div>
    </div>
    <div class="col-xs-7">
        <div id="standards-container">
            <h2 id="codelist-title"></h2>
            <div id="codelist-tree-container"> </div>
        </div>
    </div>
</div>
