/* Base */
// It could be possible to import the fenix-common-ui style and override the variables

html, body, #wrapper, #page-content-wrapper {
  height: 100%;
}


body {
  //background-image: url(img/bg-body.png);
  background-color: white;
  padding-top: $host-menu-height;
}

p{
  //text-align: justify;
}

hr{
  border-color: #e5e5e5;
}

/* Typography */
h1, h2, h3, h4{

}

.afg-title{
  font-family: 'Roboto';
  font-size: 10px;
  display: inline-block;
  padding: 3px;
  color: $fenix-text;
  border: 1px solid $fenix-text;
  margin-bottom: 20px;
}


.brand-logo{
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 250px;
  padding: 8px 20px;
  z-index: 1001;
  pointer-events: none;


  img{
    height: 100%;
    width: auto;
    float: left;
    margin-right: 10px;
  }

  h4{
    font-size: 10px;
    color: #FFF;
    font-family: 'Roboto';
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 5px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  span{
    font-size: 8px;
    color: #FFF;
    font-family: 'Roboto';
    font-weight: 300;
    position: relative;
    top: -7px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }


}

.navbar-default .navbar-nav>li>a {
  padding-bottom: 14px;
}

.lang_picker_holder{
  li{
    float: left;
    padding: 15px 2px;
  }
}

.obj-box{
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: white;
  border-color: transparent;
  border-image: none;
  @include fx-border-radius(0);
  border-style: solid;
  border-width: 0;
  margin: 10px 0 20px;
  padding: 20px;
  width: auto;
}


#DSDEditorContainer{

  >.row{
    margin: 0;
//    padding: 0 15px;
  }

}

#modalDataUploadPreview,#divDataEditor,#DSDEditorContainer{
  input[type="checkbox"]{
    display: inline;
  }
  input[type="radio"]{
    display: inline;
  }

}


  div[data-plugin="filter"]{
    .fx-catalog-modular-form-content{
      height: 240px !important;

      .jstree-holder {
        height: 187px;
      }

    }


  }


.page-content-toolbar{
  height: 50px;
  background-color: white;
  z-index: 501;
  top: 0;
  position: fixed;
  width: 100%;

  &:after{
    content: '';
    background-image: url(img/page-toolbar-shadow.png);
    height: 6px;
    width: 100%;
    position: absolute;
    bottom: -6px;
    left: 0;
  }

  .page-content-toolbar-btn{
    height: 30px;
    width: 30px;
    position: relative;
    top: 2px;
    border-color: transparent;
    background-color: transparent;
    @include fx-no-border;
    color: $fenix-text;
    font-size: 40px;
    padding: 0;
  }

}


.catalog-ico.img-responsive{
  position: relative;
  right: 20px;
  top: 8px;
}

#overlay{
  position: absolute;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: 500;
  padding-top: 50px;
  overflow-y: scroll;
  background-color: rgba(0,0,0,0);
  opacity: 0;
  pointer-events: none;

  .overlay-content{
    width: 85%;
    left: 50%;
    position: relative;

    @include fx-transfor-me(translate(-50%,-100%));

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#overlay.show{
  background-color: rgba(0,0,0,0.4);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  pointer-events: auto;

  .overlay-content{
    @include fx-transfor-me(translate(-50%,0));
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

}


.afg-footer{
  height: 80px;
  background-color: white;


  .afg-footer-text{
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 38px;

    p{
      font-weight: 500;
      text-transform: uppercase;
      font-size: 10px;
    }

    p.pull-right{
      position: relative;
      top: -28px;
      right: 26px;
      img{
        margin-left: 5px;
      }

    }

  }

}




