[submodule "submodules/fenix-ui-catalog"]
	path = submodules/fenix-ui-catalog
	url = https://github.com/FENIX-Platform/fenix-ui-catalog.git
[submodule "submodules/fenix-ui-DSDEditor"]
	path = submodules/fenix-ui-DSDEditor
	url = https://github.com/FENIX-Platform/fenix-ui-DSDEditor.git
[submodule "submodules/fenix-ui-metadata-editor"]
	path = submodules/fenix-ui-metadata-editor
	url = https://github.com/FENIX-Platform/fenix-ui-metadata-editor.git
[submodule "submodules/fenix-ui-DataEditor"]
	path = submodules/fenix-ui-DataEditor
	url = https://github.com/FENIX-Platform/fenix-ui-DataEditor.git
[submodule "submodules/fenix-ui-analysis"]
	path = submodules/fenix-ui-analysis
	url = https://github.com/FENIX-Platform/fenix-ui-analysis.git
