[submodule "submodules/fenix-ui-catalog"]
	path = submodules/fenix-ui-catalog
	url = https://github.com/FENIX-Platform/fenix-ui-catalog.git
[submodule "submodules/fenix-ui-DSDEditor"]
	path = submodules/fenix-ui-DSDEditor
	url = https://github.com/FENIX-Platform/fenix-ui-DSDEditor.git
[submodule "submodules/fenix-ui-metadata-editor"]
	path = submodules/fenix-ui-metadata-editor
	url = https://github.com/FENIX-Platform/fenix-ui-metadata-editor.git
[submodule "submodules/fenix-ui-DataEditor"]
	path = submodules/fenix-ui-DataEditor
	url = https://github.com/FENIX-Platform/fenix-ui-DataEditor.git
[submodule "submodules/fenix-ui-analysis"]
	path = submodules/fenix-ui-analysis
	url = https://github.com/FENIX-Platform/fenix-ui-analysis.git
[submodule "submodules/fenix-ui-common"]
	path = submodules/fenix-ui-common
	url = https://github.com/FENIX-Platform/fenix-ui-common.git
[submodule "submodules/fenix-ui-dataUpload"]
	path = submodules/fenix-ui-dataUpload
	url = https://github.com/FENIX-Platform/fenix-ui-dataUpload.git
[submodule "submodules/fenix-ui-olap"]
	path = submodules/fenix-ui-olap
	url = https://github.com/FENIX-Platform/fenix-ui-olap.git
[submodule "submodules/fenix-ui-menu"]
	path = submodules/fenix-ui-menu
	url = https://github.com/FENIX-Platform/fenix-ui-menu
[submodule "submodules/fenix-ui-chart-creator"]
	path = submodules/fenix-ui-chart-creator
	url = https://github.com/FENIX-Platform/fenix-ui-chart-creator
[submodule "submodules/fenix-ui-map-creator"]
	path = submodules/fenix-ui-map-creator
	url = https://github.com/FENIX-Platform/fenix-ui-map-creator
[submodule "submodules/fenix-ui-table-creator"]
	path = submodules/fenix-ui-table-creator
	url = https://github.com/FENIX-Platform/fenix-ui-table-creator
[submodule "submodules/fenix-ui-metadata-viewer"]
	path = submodules/fenix-ui-metadata-viewer
	url = https://github.com/FENIX-Platform/fenix-ui-metadata-viewer
[submodule "submodules/faostat-ui-commons"]
	path = submodules/faostat-ui-commons
	url = https://github.com/FAOSTAT4/faostat-ui-commons
[submodule "submodules/json-editor-faostat-theme"]
	path = submodules/json-editor-faostat-theme
	url = https://github.com/FAOSTAT4/json-editor-faostat-theme
