/* Top Menu */

.navbar ul {
    list-style: none;
    padding-left: 0;
}

.navbar .container{
  position: relative;


}

.navbar-default { 
  background-color: #ffffff;
}

.nav-pills li a {
  color: #336601;
}

.navbar-brand{
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(img/fenix-ico.svg);
  background-size: 44px 44px;
  background-position:0 3px;
  padding: 0;
  background-repeat: no-repeat;
}

.navbar .lang_picker{

  height: 22px;
  text-transform: uppercase;
  margin-top: 13px;

}

.navbar .lang_picker li {

  cursor: pointer;
  float : right;
}

.navbar .lang_picker li a, .navbar .lang_picker li a:hover {
	padding: 0 5px;
    color: #666666;
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
    line-height: 1.7;
    text-align: center;
}

.navbar .lang_picker li a:hover, .navbar .lang_picker li a.selected{
    background-color: #666666;
    height: 22px;
    width: 22px;
    color: white;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;

}

.navbar .lang_picker li:last-child{
  border-right: none;
}