/* Base style File */

body {
  background-image: url(../../src/css/img/bg-body.png);
}

.navbar-brand {
  background-image: url(../../src/css/img/uneca-ico.svg);
  width: 310px;
  height: 50px ;
  position: relative;
  left: -15px;
  background-size: 100% 100%;
  background-position: 0 0;
  background-color: $fx-cool-blue; }

.container{
  background-color: white;
}

.truncate {
  min-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.upper{
  text-transform: uppercase;
}

.btn{
  @include fx-border-radius(0);
  height: 25px;
  min-width: 100px;
  padding: 3px 12px;
  font-size: 12px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid $buttons;
  color: $buttons;
  margin: 3px;

  &:hover{
    background-color: $superlight-gray;
    //border-color: transparent;
    border: 1px solid $buttons;
    color: $buttons;
  }

}


.container {
  background-color: white;
}



