/* UAE Theme */

body{
  padding-top: 0;
  background-color: #e2dedf !important;
}

.uae-header-container{
  img{
    margin-top: 10px;
    margin-bottom: 10px;
  }

}

.swiper-header-container{
  padding-right: -15px;
  padding-left: -15px;
}

.navbar-brand {
  background-image: url("img/uae-ico.png") !important; /* To be removed */
  background-size: 40px 52px !important;
  background-position: 0 0 !important;
  display: none !important;
}




.container {
  background: white;
}



.page-header {
  margin: 20px 0 0 0;
  border: none;

  h1 {
    text-align: center;
    font-size: 38px;
  }

  p {
    text-align: center;
  }
}

.btn {
  background-color: transparent;
  color: $fenix-text;
  border-color: $fenix-text;
  @include fx-border-radius(0);
  font-weight: 300;
  padding: 3px 12px;

  &:hover {
    background-color: transparent;
    color: $fx-cool-blue;
    border-color: $fx-cool-blue;
  }
  &:active {
    background-color: transparent;
    color: $fx-cool-blue;
    border-color: $fx-cool-blue;
    @include fx-box-shadow(0, 0, 0, white);
  }

}

.btn[disabled] {
  background-color: transparent;
  color: $fenix-text;
  border-color: $fenix-text;
  @include fx-border-radius(0);
  font-weight: 300;
  padding: 3px 12px;
}

.white-inverted {
  background-color: transparent;
  border-color: white;
  color: white;
}

#datamgmt{
  background-color: $fx-cool-blue-alt;
}

[data-toggle='popover']{
  &:hover{
    border-color: transparent;
  }

  border-color: transparent;
}

input.form-control{
  border: 1px solid $fenix-light-hr;
  background-color: white;
  @include fx-border-radius(0);
}

.filter-holder{
  position: relative;
  padding: 10px 15px;

  &:before{
    content:'';
    display: block;
    background-color: $fenix-light-bg;
    width: calc(100% - 30px);
    height: 75px;
    top: -5px;

    left: 15px;
    position: absolute;
  }

  .pull-right{
    margin-top: 12px;

  }
}


@font-face {
  font-family: 'fontinregular';
  src: url('../../src/css/fontin/fontin-regular-webfont.eot');
  src: url('../../src/css/fontin/fontin-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../src/css/fontin/fontin-regular-webfont.woff') format('woff'),
  url('../../src/css/fontin/fontin-regular-webfont.ttf') format('truetype'),
  url('../../src/css/fontin/fontin-regular-webfont.svg#fontinregular') format('svg');
  font-weight: normal;
  font-style: normal;

}