<li>
    <div class="db-update-ico"><span class="icojam_geography_globe"></span></div>
    <h3> {{ i18n title }}</h3>
    <span class="db-update-country">COUNTRY EXAMPLE</span> <span class="db-update-date">2015-05-10</span><br>
    <p> {{ i18n body }}</p>
    <a class="db-update-link">GO TO DOWNLOAD <i class="fa fa-caret-right"></i></a>
</li>