<div class="swiper-header-container">
    <!--<div class="uae-events-info">-->
    <!--<p>16/04/2015</p>-->

    <!--<h2>National Bureau of Statistics in Cooperation with Statistical, Economic and Social Research-->
    <!--&amp; Training Centre for Islamic Countries</h2>-->
    <!--<span>(SESRIC / OIC- Ankara Center)</span><br>-->
    <!--<a class="btn btn-default" href="#" role="button">View details »</a>-->
    <!--</div>-->


    <div id='swiper-banner' class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide home-event red-slide"><img src="src/images/home-bg-1.jpg" class="img-responsive">
            </div>
            <div class="swiper-slide home-event red-slide"><img src="src/images/home-bg-2.jpg" class="img-responsive">
            </div>
            <div class="swiper-slide home-event red-slide"><img src="src/images/home-bg-3.jpg" class="img-responsive">
            </div>
            <div class="swiper-slide home-event red-slide"><img src="src/images/home-bg-4.jpg" class="img-responsive">
            </div>
            <div class="swiper-slide home-event red-slide"><img src="src/images/home-bg-5.jpg" class="img-responsive">
            </div>
            <div class="swiper-slide home-event red-slide"><img src="src/images/home-bg-6.jpg" class="img-responsive">
            </div>
        </div>
    </div>


</div>


<div class="row">
    <div class="col-xs-6">

        <h2>Welcome to United Arab Emirates Statistical Portal</h2>

        <p>The United Arab Emirates consists of seven Emirates: Abu Dhabi, Dubai, Sharjah, Umm Al Quwain,
            Fujairah,
            Ajman and Ras Al Khaimah. Four-fifths of the UAE is desert but has contrasting landscapes—from the
            towering
            red dunes of the Liwa to the rich palm-filled Oasis of Al Ain, from the precipitous Hajjar Mountains
            to the
            more fertile stretches of its coastal plains.</p>
         <p>Though small in size (similar to the size of Scotland), the UAE has become an important player in
        regional
        and international affairs. In 1971, the late President Sheikh Zayed bin Sultan Al Nahyan unified the
        small,
        underdeveloped states into a federation—the only one in the Arab world. With his visionary leadership,
        oil
        wealth was used to develop the UAE into one of the world's most open and successful economies.</p>
         <p>In 2004, His Highness Sheikh Khalifa bin Zayed Al Nahyan became president and has since continued to
        strive
        towards an ambitious vision for the UAE.</p>

        <h2>Countrystat based</h2>

        <p>CountrySTAT is a statistical framework and applied information system for analysis and policy-making
            designed in order to organize, integrate and disseminate statistical data and metadata on food and
            agriculture coming from different sources.</p>

        <p> CountrySTAT gathers and harmonizes scattered institutional statistical information so that information
            tables become compatible with each other at the country level and with data at the international level.
            The main objectives are to facilitate decision-maker's access to information and to bind data sources
            that are currently spread throughout the different institutions.</p>

        <p> The CountrySTAT approach is based on the application of data and metadata standards of FAOSTAT and GAUL
            (Global Administrative Unit Layers). Many countries have shown interest and are adopting it into their
            national statistical system. Furthermore, CountrySTAT is accompanied by a capacity-building strategy at
            country level to make the system sustainable in the long-term. CountrySTAT is networking with FAOSTAT
            and other sister information systems like FENIX.</p>


        <h2>Key Indicators</h2>


        <br>

        <!--        <div id="chart" data-highcharts-chart="0"></div>-->
        <div id="home-charts-tab">
            <!-- Nav tabs-->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tab-chart-1" role="tab" data-toggle="tab">GDP</a></li>
                <li role="presentation"><a href="#tab-chart-2" role="tab" data-toggle="tab">Trade</a></li>
                <li role="presentation"><a href="#tab-chart-3" role="tab" data-toggle="tab">Crop</a></li>
            </ul>

            <!-- Tab panes-->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="tab-chart-1">
                    <div id="chart1"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab-chart-2">
                    <div id="chart2"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab-chart-3">
                    <div id="chart3"></div>
                </div>
            </div>
        </div>


    </div>
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-12">
                <h2>About Federal Competitiveness and Statistics Authority</h2>

                <p>The Federal Competitiveness and Statistics Authority (FCSA), is a UAE federal government entity
                    created by Presidential Decree No.7 of the year 2015. The authority’s mission is to strengthen and
                    enhance UAE’s national data and competitiveness capacities. The FCSA is one of the official
                    government sources FOR national statistics and is one of the government representatives on matters
                    related to national competitiveness. The FCSA aims at improving the UAE ranking in the global
                    competitiveness reports by working with stakeholders on defining and implementing reforms and
                    polices across sectors. For more information about the FCSA, please visit:
                    <a href="www.fcsa.ae" target="_blank"> www.fcsa.ae</a></p>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>News and Events</h2>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-6">

                <img class="img-responsive" src="src/images/news-1.jpg">
                <br>
                <em class="title-small-text news">16 APRIL 2015</em>
                <h4 class="news-title">National Bureau of Statistics in Cooperation with Statistical, Economic and
                    Social Research & Training Centre for Islamic Countries (SESRIC / OIC- Ankara Center)</h4>

                <p>Organize the Regional Workshop under the OIC - StatCaB Programme on:“Spatial Measurements &
                    Statistics, using Geographic Information Systems Technique, for GCC” 10-14 May, 2015 Statistical
                    Training Center</p>

                <p>To view the workshop agenda, please <a
                        href="http://www.uaestatistics.gov.ae/reportsupload/Agenda_GIS_TUIK.pdf" target="_blank">Click
                    Here</a></p>


            </div>
            <div class="col-xs-6">
                <img class="img-responsive" src="src/images/news-2.jpg">
                <br>
                <em class="title-small-text news">8 MARCH 2015</em>
                <h4 class="news-title">"National Bureau of Statistics" Participates in the Eleventh Session of the
                    Statistical Commission of the "ESCWA"</h4>

                <p>Curabitur nec urna quis turpis interdum maximus vitae faucibus elit. Fusce a nulla a neque
                    ultricies
                    ultricies vitae et odio. Fusce sit amet orci id nulla accumsan venenatis quis eu mauris. In
                    malesuada
                    suscipit orci sit amet placerat. Pellentesque ut laoreet neque. Duis ut iaculis erat. Curabitur
                    pharetra
                    facilisis scelerisque. Nullam pellentesque felis dui. Quisque aliquet lectus eu ante mollis
                    hendrerit.
                    Phasellus in tristique sapien.</p>
            </div>
        </div>


    </div>

</div>

<div class="quick-facts-container">


    <h2>About UAE</h2>


    <div class="quick-facts">

        <div class="row">
            <div class="row-height">

                <div class="col-sm-6 col-sm-height">
                    <h4>Location</h4>

                    <p>Bordered to the North by the Arabian Gulf, to the East by the Gulf of Oman and Sultanate
                        of Oman, to the South by Saudi Arabia and Sultanate of Oman and to the West by Qatar and
                        Saudi Arabia.</p>

                    <div class="row">
                        <div class="col-xs-6">
                            <h4>Capital</h4>

                            <p>Abu Dhabi</p>
                        </div>
                        <div class="col-xs-6">
                            <h4>Largest City</h4>

                            <p>Dubai <br></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <h4>Area</h4>

                            <p>Land area is 71023 Sq. km; where Abu Dhabi accounts for 84% of the country's total
                                landmass.</p>
                        </div>
                        <div class="col-xs-6">
                            <h4>Geographic Coordinates</h4>

                            <p>22. - 25.5 North and 51 - 56.5 East.</p>
                        </div>
                    </div>

                    <h4>Climate</h4>

                    <p>Arid desert, cooler in the eastern mountains. (Winter: warm & sunny / Summer: hot and
                        humid). The average annual rainfall in the coastal area is fewer than 120 mm (4.7 in),
                        but in some mountainous areas annual rainfall often reaches 350 mm (13.8 in) where it is
                        also generally cooler.</p>


                    <div class="row">
                        <div class="col-xs-6">
                            <h4>Elevation Extremes</h4>

                            <p>Arabian Gulf 0m, Jabal Yibir 1,627 m</p>
                        </div>
                        <div class="col-xs-6">
                            <h4>Natural Resources</h4>

                            <p>Oil and gas; more than 90% of which are located in Abu Dhabi.</p>
                        </div>
                    </div>


                </div>
                <div class="col-sm-6 col-sm-height">
                    <iframe frameborder="0" class="fx-map" height="200px" width="100%"
                            src="http://fenixapps.fao.org/repository/js/fenix-map-js/uae_demo/projects/uae_demo"></iframe>

                </div>
            </div>
        </div>


        <hr>
        <button class="btn btn-default" id="home-toggle-info"> More</button>
        <hr>

        <div id="more-info" class="row">
            <div class="col-sm-6">

                <div class="row">
                    <div class="col-xs-6 ">
                        <!--<span class="quick-icons icojam_palace_of_congresses"></span>-->
                        <h4>Political sistem</h4>

                        <p>Constitutional Federation (Abu Dhabi, Dubai, Sharjah, Ajman, Umm Al Quwain, Ras Al
                            Khaimah and
                            Fujairah)</p>
                    </div>
                    <div class="col-xs-6 ">
                        <h4>National Day</h4>

                        <p class="big-text">2nd December 1971</p>
                    </div>
                </div>


                <div class="row">

                    <div class="col-xs-6">
                        <h4>Founder</h4>

                        <p>The Late Sheikh Zayed bin Sultan Al Nahyan</p>

                    </div>
                    <div class="col-xs-6">
                        <!--<span class="quick-icons icojam_flag"></span>-->

                        <h4>Flag</h4>

                        <p>Three equal horizontal bands of green (top), white (middle), and black (bottom) with a
                            wider vertical red band on the hoist side.</p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-6">
                        <h4>President</h4>

                        <p>H. H. Sheikh Khalifa bin Zayed Al Nahyan (Ruler of Abu Dhabi)</p>
                    </div>
                    <div class="col-xs-6">
                        <h4>Vice President and Prime Minister</h4>

                        <p>H. H. Sheikh Mohamed bin Rashid Al Maktoum (Ruler of Dubai)</p>
                    </div>

                </div>


                <h4>Other Rulers</h4>

                <p><b>Sharjah:</b> H. H. Dr. Sheikh Sultan bin Mohammed Al Qasimi</p>

                <p><b>Ajman:</b> H. H. Sheikh Humaid bin Rashid Al Nuaimi</p>

                <p><b>Umm al-Quwain:</b> H. H Sheikh Saud bin Rashid Al Mu'alla</p>

                <p><b>Ra's al-Khaimah:</b>H. H. Sheikh Saud bin Saqr Al Qasimi</p>

                <p><b>Fujairah:</b>H. H Sheikh Hamad bin Mohammed Al Sharqi</p>

            </div>
            <div class="col-sm-6">

                <div class="row">

                    <div class="col-xs-4">
                        <h4>Monetary Unit</h4>

                        <p>UAE Dirham 1AED = 100 Fills</p>
                    </div>
                    <div class="col-xs-4">
                        <h4>Exchange Rate</h4>

                        <p>1 USD = AED 3.67 (Pegged to the US Dollar)</p>
                    </div>
                    <div class="col-xs-4">
                        <h4>Fiscal Year</h4>

                        <p>1st January to 31st December</p>
                    </div>
                </div>
                <hr>


                <div class="row">
                    <div class="col-xs-4">
                        <h4>Population</h4>

                        <p>8.19 million, 16.5 % Nationals (est.2010. The National Bureau of Statistics, UAE)</p>
                    </div>
                    <div class="col-xs-4">
                        <h4>Weekend</h4>

                        <p>Friday and Saturday</p>
                    </div>
                    <div class="col-xs-4">
                        <h4>Official Language</h4>

                        <p>Arabic</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <h4>Other Languages</h4>

                        <p>English, Farsi, Hindi, Urdu</p>
                    </div>
                    <div class="col-xs-4">
                        <h4>Religion</h4>

                        <p>slam (Practice of other religious beliefs is allowed)</p>
                    </div>
                    <div class="col-xs-4">
                        <h4>Literacy rate</h4>

                        <p>93%</p>
                    </div>
                </div>


                <hr>


                <div class="row">
                    <div class="col-xs-6">
                        <h4>International Dialing Code</h4>

                        <p>+971</p>
                    </div>
                    <div class="col-xs-6">
                        <h4>Internet domain</h4>

                        <p>.ae</p>
                    </div>
                </div>

                <div class="row">

                    <div class="col-xs-6">
                        <h4>Time</h4>

                        <p>GMT +4 (Daylight Saving Time +3)</p>
                    </div>
                    <div class="col-xs-6">
                        <h4>Others</h4>

                        <p>The demonym for UAE nationals is Emirati. </p>

                        <p> The national anthem is ‘Aishi Biladee'.</p>
                    </div>
                </div>

            </div>


        </div>

        <br><br>

        <p class="quick-facts-notes">*Content sourced from the official website of the
            UAE's Ministry of Foreign Affairs and the official website of The Cultural Division of
            the Embassy of the UAE in Washington, DC.</p>


    </div>

</div>