<!-- Logo + Contacts -->
<div class="row intro-text">
    <div class="intro-logo-holder col-sm-2">
        <div><img class="rlm-logo-blue" src='src/css/img/logo.png'></div>
    </div>
    <div class="col-xs-12 col-sm-10 ">
        <div class="row home-contacts">
            <div class="col-sm-2">
                <h5 class="upper">{{{ home_header_contacts }}}</h5>
            </div>
            <div class="col-sm-3 left-line">
                <h5>Piero Conforti</h5>

                <p>Delivery Manager,</p>

                <p>Statistics Division (ESS)</p>

                <p>Email: Piero.Conforti@fao.org</p>
            </div>
            <div class="col-sm-3 left-line">
                <h5>Erdgin Mane</h5>

                <p>Delivery Manager,</p>

                <p>Statistics Division (ESS)</p>

                <p>Email: Erdgin.Mane@fao.org</p>
            </div>
            <div class="col-sm-4">
                <h5 class="upper">More information</h5>

                <p>http://www.fao.org/about/what-we-do/</p>
            </div>
        </div>

    </div>
</div>
<br>

<div class="row">
    <div class="col-sm-4">
        <h1> {{ home_welcome_title }}</h1>
        <br>
    </div>


</div>



<!--Welcome text -->
<div class="row home-main-content">

    <div class="row-height">

        <!--  Why a rural livelihood monitor column -->
        <div class="col-sm-4 col-sm-height ">


            <b>Why a rural livelihood monitor?</b><br><br>

            <p class="text-justify">There’s a compelling argument for developing and implementing strategies to reduce
                rural poverty. An
                estimated
                75 per cent of the world’s poor who are living on less than $1.25 per day reside in rural areas. While
                also
                rural poverty seems to have declined significantly worldwide in recent decades, the likelihood of being
                poor
                when living in rural areas in developing countries is more than 2.5 times larger than for people living
                in
                cities and this gap has not narrowed over time, according to recent World Bank estimates.</p>


            <p class="text-justify">We need to improve our understanding of the situation on the ground. But how to
                define appropriate
                indicators
                across sectors and these multiple dimensions is still subject to a wide debate.</p>

            <p class="text-justify">The Rural Lively Monitor will allow observing progress towards the five Strategic
                Objectives of FAO. Its
                approach is set up along the lines of the FAO’s strategic programme in support of rural poverty
                reduction,
                which
                is Strategic Objective 3.</p>

        </div>

        <div class="col-sm-8 col-sm-height col-sm-bottom home-map-container">

            <h5>SURVEY AVAILABLE DATA</h5>

            <div class="chart-container">

                <div class="home-stats"><h5>MAIN</h5>

                    <div id="pie-chart-main" class="pie-container"></div>
                </div>
                <div class="home-stats"><h5>PREVALENCE</h5>

                    <div id="pie-chart-prevalence" class="pie-container"></div>
                </div>


            </div>


            <div class="home-map-legenda">
                <ul class="list-inline">
                    <li>NO DATA</li>
                    <li>NATIONAL</li>
                    <li>HOUSEHOLD + NATIONAL</li>
                </ul>

            </div>


        </div>
    </div>
</div>

<br><br>
<!-- Database updates + In practice-->


<div class="row">
    <div class="col-sm-4">
        <h2>Database Updates</h2>
        <!--<h1> {{ database_update_title }}</h1> Not rendered-->
        <br>
    </div>


</div>


<div class="row home-main-content">
    <div class="row-height">

        <!-- Database upadate-->
        <div class="col-sm-4 col-sm-height">
            <div class="db-updates-list-holder">
                <ul id="db-updates-list" class="db-updates-list list-unstyled"></ul>
            </div>
        </div>
        <div class="col-sm-8 col-sm-height home-practice-container">

            <div class="practice-content">
                <h1>In practice</h1>

                <p class="text-justify">Rural income poverty will be the key impact indicator of the RLM and will be defined in accordance with
                impact
                indicators used to monitor progress towards the Millennium Development Goals (MDGs) and the Sustainable
                Development Goals that will be proposed by the post-2015 development agenda.</p>

                <p class="text-justify">Adequate disaggregation of data is critical. As much as possible, impacts will be identified by areas
                and
                regions within countries and by socio-demographic and economic characteristics of population groups, in
                particular by gender, age groups, ethnicity and type of employment. The indicators of the RLM will be
                organized
                along six key dimensions:</p>

                <div class="row home-practice-pillars">
                    <div class="col-sm-6">
                        <ul class="list-unstyled">
                            <li>Social capital</li>
                            <li>Natural capital</li>
                            <li>Knowledge capital and market access</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-unstyled">
                            <li>Access to rural infrastructure</li>
                            <li>Human development</li>
                            <li>Access to social protection</li>
                        </ul>
                    </div>


                </div>
            </div>

        </div>
    </div>


</div>

<br><br><br><br>