<div class="row uneca-home-container">

        <div class="col-sm-3">
            <!--<h1> {{ home_welcome_title }}</h1>-->
            <!--<p> {{ text }}</p>-->
            <!--<p> {{ authentication_credentials }}</p>-->

            <div class="obj-box">
                <div class="uneca-home-title">MAIN TOPICS</div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading1">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                    <span class="fx-panel-plus"></span> Food Security
                                </a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                            <div class="panel-body">
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading2">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                    <span class="fx-panel-plus"></span> Production
                                </a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body">
                                <div class="uneca-home-panel-sub">Crops <span class="fx-panel-info"></span></div>
                                <div class="uneca-home-panel-sub">Crops processed <span class="fx-panel-info"></span>
                                </div>
                                <div class="uneca-home-panel-sub">Live Animals <span class="fx-panel-info"></span></div>
                                <div class="uneca-home-panel-sub">Livestock Primary <span class="fx-panel-info"></span>
                                </div>
                                <div class="uneca-home-panel-sub">Livestock Processed <span class="fx-panel-info"></span></div>
                                <div class="uneca-home-panel-sub">Production Indices <span class="fx-panel-info"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading3">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                    <span class="fx-panel-plus"></span> Trade
                                </a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                            <div class="panel-body">
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading4">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                    <span class="fx-panel-plus"></span> Food Balance
                                </a>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                            <div class="panel-body">
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading5">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                    <span class="fx-panel-plus"></span> Prices
                                </a>
                            </h4>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                            <div class="panel-body">
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading6">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                    <span class="fx-panel-plus"></span> Inputs
                                </a>
                            </h4>
                        </div>
                        <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                            <div class="panel-body">
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading7">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                    <span class="fx-panel-plus"></span> Population
                                </a>
                            </h4>
                        </div>
                        <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                            <div class="panel-body">
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading8">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                    <span class="fx-panel-plus"></span> Investment
                                </a>
                            </h4>
                        </div>
                        <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                            <div class="panel-body">
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading9">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                    <span class="fx-panel-plus"></span> Agri-Environmental Indicators
                                </a>
                            </h4>
                        </div>
                        <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                            <div class="panel-body">
                            </div>
                        </div>
                    </div>


                </div>
                <br>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="obj-box">
                <div class="uneca-home-title">FIND DATA BY</div>

                <div class="row uneca-home-entrypoint">
                    <div class="col-xs-4">
                        <div class="uneca-home-entrypoint-container"><img src="css/icons/domain-ico.svg" width="100%">
                        </div>
                        <div class="uneca-home-title">BY DOMAIN</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="col-xs-4">
                        <div class="uneca-home-entrypoint-container"><img src="css/icons/country-ico.svg" width="100%">
                        </div>
                        <div class="uneca-home-title">BY COUNTRY</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="col-xs-4">
                        <div class="uneca-home-entrypoint-container"><img src="css/icons/dataset-ico.svg" width="100%">
                        </div>
                        <div class="uneca-home-title">BY DATASET</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>

                <div class="uneca-home-title">HOW DATA PORTAL WORKS</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dignissim ante at tellus commodo
                    consequat. Morbi cursus rhoncus nisl a pulvinar. Cum sociis natoque penatibus et magnis dis
                    parturient montes, nascetur ridiculus mus. Pellentesque vel finibus lectus, at vehicula felis. Sed
                    non nisi dui. Donec sed vestibulum lacus, eget lobortis purus. Duis nec mi nec quam porta euismod.
                    Aliquam rutrum et libero tempus volutpat. In hac habitasse platea dictumst. Curabitur aliquet
                    commodo nulla, ac varius elit egestas id. Suspendisse laoreet arcu quis magna convallis, ut
                    vulputate eros interdum. In consequat mi id libero egestas maximus.</p>

                <p>Dolor sit amet, consectetur adipiscing elit. Curabitur dignissim ante at tellus commodo consequat.
                    Morbi cursus rhoncus nisl a pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus. Pellentesque vel finibus lectus, at vehicula felis. Sed non nisi dui. Donec
                    sed vestibulum lacus, eget lobortis purus. </p>

                <p>Consectetur adipiscing elit. Curabitur dignissim ante at tellus commodo consequat. Morbi cursus
                    rhoncus nisl a pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                    ridiculus mus. Pellentesque vel finibus lectus, at vehicula felis. Sed non nisi dui. Donec sed
                    vestibulum lacus, eget lobortis purus. </p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dignissim ante at tellus commodo
                    consequat. Morbi cursus rhoncus nisl a pulvinar. Cum sociis natoque penatibus et magnis dis
                    parturient montes, nascetur ridiculus mus. Pellentesque vel finibus lectus, at vehicula felis. Sed
                    non nisi dui. Donec sed vestibulum lacus, eget lobortis purus. Duis nec mi nec quam porta euismod.
                    Aliquam rutrum et libero tempus volutpat. In hac habitasse platea dictumst. Curabitur aliquet
                    commodo nulla, ac varius elit egestas id. Suspendisse laoreet arcu quis magna convallis, ut
                    vulputate eros interdum. In consequat mi id libero egestas maximus.</p>
                <br>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="obj-box">
                <div class="uneca-home-title">ABOUT UNECA</div>
                <p>Established by the Economic and Social Council (ECOSOC) of the United Nations (UN) in 1958 as one of
                    the UN's five regional commissions, ECA's mandate is to promote the economic and social development
                    of its member States, foster intra-regional integration, and promote international cooperation for
                    Africa's development.</p>
                <ul>
                    <li>Overview</li>
                    <li>Mandates</li>
                    <li>Executive Secretary</li>
                    <li>Deputy Executive Secretary</li>
                    <li>Opportunities</li>
                    <li>Contacts</li>
                </ul>
                <hr>
                <div class="uneca-home-title">ON THE WEB</div>
                <div class="uneca-home-social">
                    <span class="fa fa-facebook-square fa-lg fa-fw"></span><span class="fa fa-twitter-square fa-lg fa-fw"></span><span class="fa fa-google-plus-square fa-lg fa-fw"></span>
                </div>
                <hr>
                <div class="uneca-home-title">UPCOMING EVENTS</div>
                <div class="uneca-home-events-container">
                    <p>DECEMBER 2014</p>

                    <p>The classic version of UNECA will no longer be available.</p>

                    <p>JANUARY 2015</p>

                    <p>Launch of the Food Security Database: food security statistics based on National Household
                        Surveys, National and sub-national data, and gender disaggregated information.</p>
                </div>
                <br>
            </div>
        </div>



</div>