/* Top Menu */


.topmenu{
  .topmenu-buttons-holder{
    padding: 0;
  }
}

.navbar{
  min-height: 0;
}

.navbar-default{
  background-color: transparent;
  //border-top: 1px solid $fenix-light-hr;
  //border-bottom: 3px solid $fx-cool-blue;



  > .container-fluid {

    padding-left: 0;

  }


}


.navbar {
  background-color: transparent !important;
  min-height: 30px;
  margin-bottom: 0;
  .fx-ul {

    li {

      a, a:active, a:focus, a:hover {
        color: white;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }

    .dropdown-menu{
      a{
        color: $fx-cool-blue;
        text-transform: none;
        font-weight: 300;
        font-family: "Roboto Condensed";
      }
    }
  }

  .navbar-right{
    ul{
      margin-top: 4px;

      li{


        a{
          padding-top: 0;
          padding-bottom: 0;
          color: white;
        }
      }

    }
  }

  .fx-ul-right{
    li {

      a, a:active, a:focus, a:hover {
        color: white;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;
      }
    }
  }


}



.uae-menu-container {
  background-color: $fx-cool-blue;
}




/*//////////////////////////////////////////// Navbar Media queries */

@media (min-width: 768px) and (max-width: 990px) {

}

@media (max-width: 767px) {


  .navbar-default{




    .navbar-nav{


      li{

        a{
          padding-left:30px;

        }


      }

    }


  }

  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background-color: $fx-cool-blue;
    color: white;

    &:before{
      background-color: transparent;
    }
  }

}
