<h2>Charts</h2>
<section id="section_21">
    <h4>Area Chart</h4>

    <div id="chart-1"></div>

    <hr>

</section>

<section id="section_22">
    <h4>Pie Chart</h4>
    <div id="chart-2"></div>

    <hr>
</section>


<section id="section_23">
    <h4>Line Chart</h4>
    <div id="chart-3"></div>

    <hr>
</section>


<section id="section_24">
    <h4>Column Chart</h4>
   <div id="chart-4"></div>

    <hr>
</section>
<section id="section_25">
    <h4>Area Chart</h4>

    <div id="chart-5"></div>

    <hr>

</section>

<section id="section_26">
    <h4>Stock</h4>

    <div id="stock-1"></div>

    <hr>

</section>