<h2>Grid</h2>
<section id="section_41">
    <h4>Default functionality</h4>

    <div id="jqxgrid-1"></div>

    <hr>

</section>

<section id="section_42">

    <h4>Export</h4>

    <div id="jqxgrid-3"></div>
    <br>
    <input type="button" value="Export to Excel" id='excelExport'/>
    <input type="button" value="Export to XML" id='xmlExport'/>
    <input type="button" value="Export to CSV" id='csvExport'/>
    <br>
    <input type="button" value="Export to TSV" id='tsvExport'/>
    <input type="button" value="Export to HTML" id='htmlExport'/>
    <input type="button" value="Export to JSON" id='jsonExport'/>

    <hr>

</section>

<section id="section_43">

    <h4>Spreadsheet</h4>

    <div id="jqxgrid-2"></div>
    <br>
    <input type="button" value="Export to Excel" id='excelExport-2'/>

    <hr>

</section>