<h1>Analysis</h1>
<hr>
<button type="button" class="btn btn-default open-overlay">{{catalog_button}}</button>

<div class="row">

    <!-- catalog overlay -->
    <div id="overlay" class="col-xs-12">

        <button class="close-overlay"></button>

        <div class="overlay-content">
            <div id="fx-catalog-container"></div>
        </div>
    </div>

    <div class="col-lg-12" id="analysis-page-content">

        <!-- Open catalog btn and modules stack container-->
        <div class="row fx-catalog-toolbar">

            <div id='fx-modules-stack-container' class="col-xs-6"></div>

        </div>

        <div class="row">
            <div class="col-xs-12">
                <div id="fx-analysis-container"></div>
            </div>
        </div>

        <hr>

    </div>

</div>

<div id="uneca-metadata-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Metadata Viewer</h4>
            </div>
            <div class="modal-body">
                <div data-content="metadata-viewer-container"></div>
            </div>
            <div class="modal-footer">
                FENIX Metadata
            </div>



        </div>
    </div>
</div>

