<button type="button" class="btn btn-default open-overlay">{{catalog_button}}</button>
<div class="row">
    <div class="col-sm-12">
        <!-- Page Content -->
        <div>
            <!-- catalog overlay -->
            <div id="overlay" class="container">

                <button class="close-overlay"></button>

                <div class="overlay-content">
                    <div id="fx-catalog-container"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="container-fluid">

                        <!-- Open catalog btn and modules stack container-->
                        <div class="row fx-catalog-toolbar">

                            <div id='fx-modules-stack-container' class="col-xs-6"></div>

                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div id="fx-analysis-container"></div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
