/* Homepage */



[data-page='home']{

  .container-breadcrumb{
    display: none;
  }

}


/* Fenix - Home Page */

/* HOMEPAGE */
$uneca-home-padding: 15px;

.uneca-home-container{
  .panel-body{
    background-color: $fenix-light-bg;
    padding: 0 15px;
  }

  .uneca-home-title{
    font: $fx-text-smalltitle-bold;
    color: $fx-cool-blue;
    padding: $uneca-home-padding;
  }

  .obj-box {
    padding: 0;
  }

  p{
    padding: 0 $uneca-home-padding;
    font-size: 12px;
  }

  .uneca-home-social{
    padding: 0 $uneca-home-padding;
    font-size: 18px;
  }

  hr{
    border-color: $fenix-light-bg;
    margin-bottom: 0;
  }

  .panel-heading{
    padding: 0 15px;
  }

  .panel-default{
    border-color: transparent;
  }

  .panel-group .panel-heading .panel-title a {
    text-transform: none;
    color: $fx-cool-blue;
    font-size: 14px;

  }

  .fx-panel-plus{
    margin-right: 5px;
  }

  .uneca-home-panel-sub{
    margin: 7px 0;
    border-bottom: 1px solid  #e5e5e5;
    &:last-child{
      border-color: transparent;
    }
  }

  .uneca-home-entrypoint{
    text-align: center;
    padding: 0 25px;
    .col-xs-4 {
      border-right: 1px solid #e5e5e5;
      &:last-child{
        border-color: transparent;
      }
    }
  }

  .uneca-home-entrypoint-container{
    padding: 5px;
  }

}


//.fx-home-header{
//  text-align: center;
//  color: white;
//  margin-top: 50px;
//  h1{
//
//    font-size: 59px;
//    font-weight: 700;
//
//    em{
//      font-style: normal;
//      font-weight: 100;
//    }
//  }
//
//  h3{
//    font-size: 16px;
//    font-weight: 700;
//  }
//
//  img{
//    position: relative;
//    top: -6px;
//  }
//
//}
//
//
//
//
//.fx-home-ico-holder{
//  height: 50px;
//  width: 50px;
//  border: 1px solid $fenix-text;
//  padding: 5px;
//
//  img {
//    width: 100%;
//    height: 100%;
//  }
//}
//
//.fx-home-content-grid{
//  text-align: justify;
//
//
//  .fx-home-ico-holder{
//    position: absolute;
//    left: 0;
//    top: 2px;
//  }
//
//  h1{
//    font-size: 14px;
//    margin-top: 50px;
//    margin-bottom: 20px;
//
//  }
//
//  h2 {
//    margin-top:0;
//    margin-bottom: 0;
//    font-weight: 400;
//    font-size: 12px;
//    font-family: "Roboto Condensed";
//    text-transform: uppercase;
//  }
//
//  .fx-home-categories{
//    padding-left: 71px;
//    margin-bottom: 20px;
//
//    position: relative;
//  }
//
//  ul{
//    padding-left:0;
//    list-style: none;
//
//    li{
//      margin-bottom: 8px;
//      position: relative;
//      padding-left: 30px;
//
//      em{
//        font-style: normal;
//        font-size: 10px;
//        height: 15px;
//        width: 15px;
//        @include fx-border-radius(15px);
//        border: 1px solid $fenix-text;
//        display: inline-block;
//        line-height: 1.3;
//        text-align: center;
//        position: absolute;
//        left: 0;
//        top: 3px;
//      }
//
//    }
//
//  }
//
//  .fx-git-logo{
//    margin-top: 23px;
//  }
//
//
//}
//
//
//
//p.fx-strong{
//  font-weight: 700;
//}
//
//.fx-background-image{
//  height: 210px;
//  width: 100%;
//  position: absolute;
//
//  background-image: url(img/background-home.jpg);
//
//
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
//
//
//}
//
//@media (max-width: 490px) {
//  .fx-background-image{
//    height: 286px;
//    width: 100%;
//    position: absolute;
//
//    background-image: url(img/background-home.jpg);
//
//
//    -webkit-background-size: cover;
//    -moz-background-size: cover;
//    -o-background-size: cover;
//    background-size: cover;
//
//
//  }
//}






