<table id="colEditTbl">
    <tr>
        <td id="lTD_Title" valign="top">
            Title
        </td>
        <td id="colEditTitle">
        </td>
    </tr>
    <tr>
        <td id="lTD_Subject" valign="top">
            Subject
        </td>
        <td>
            <div id="colEditSubject">
            </div>
        </td>
    </tr>
    <tr>
        <td id="lTD_DataType" valign="top">
            Data type
        </td>
        <td>
            <div id="colEditDataType">
            </div>
        </td>
    </tr>
    <tr>
        <td id="lTD_Domain" valign="top">
            Domain
        </td>
        <td>
            <div id="colEditDomain">
            </div>
        </td>
    </tr>
    <tr>
        <td id="lTD_key" valign="top">
            Dimension
        </td>
        <td>
            <input id="colEditKey" type="checkbox" />
        </td>
    </tr>
    <tr>
        <td id="lTD_Supplemental" valign="top">
            Supplemental
        </td>
        <td>
            <div id="colEditSupplemental">
            </div>
        </td>
    </tr>
    <!--<tr>
        <td id="lTD_Link" valign="top">
            Link
        </td>
        <td>
            <div id="colEditLink">
            </div>
        </td>
    </tr>-->
</table>
