<div id="divDSDGrid">
    <div id="cntDSDGrid">
    </div>
    <div>
        <button id="DSDEdit_btnAddCol" type="button" class="btn btn-default">
            Add</button>
        <button id="btnColsEditDone" type="button" class="btn btn-default">
            Done</button>
    </div>
</div>
<div id="divColEdit">
    <div id="cntColEdit">
    </div>
    <div>
        <button id="bntColEditOk" type="button" class="btn btn-default">
            Ok</button>
        <button id="bntColEditCanc" type="button" class="btn btn-default">
            Cancel</button>
    </div>
</div>
