<h1>{{title}}</h1>
<hr>
<div class="row">
    <div class="intro-logo-holder col-xs-12">
        <img src='src/images/FAO_sede.jpg' class="img-responsive">
    <br>
        <b>Why a rural livelihood monitor?</b><br><br>

        There’s a compelling argument for developing and implementing strategies to reduce rural poverty. An estimated
        75 per cent of the world’s poor who are living on less than $1.25 per day reside in rural areas. While also
        rural poverty seems to have declined significantly worldwide in recent decades, the likelihood of being poor
        when living in rural areas in developing countries is more than 2.5 times larger than for people living in
        cities and this gap has not narrowed over time, according to recent World Bank estimates.

        We need to improve our understanding of the situation on the ground. But how to define appropriate indicators
        across sectors and these multiple dimensions is still subject to a wide debate.

        The Rural Lively Monitor will allow observing progress towards the five Strategic Objectives of FAO. Its
        approach is set up along the lines of the FAO’s strategic programme in support of rural poverty reduction, which
        is Strategic Objective 3.


        <br><br>
</div>
</div>