/* Fenix - Analysis Page */

#overlay {
  .close-overlay{
    height: 35px;
    width: 35px;
    background: url("img/icons-sprite.png") no-repeat -595px 0px;
    border: none;
    position: absolute;
    right: 0;
    z-index: 1;
  }
}