/* UAE - Home Style */

///* Host CSS */
//@import 'fx-mixins';
//@import 'fx-colors';
//
//$host-menu-height : 50px;
//
//body{
//  padding-top: $host-menu-height;
//}



.fx-home-content-grid h1.fx-big-title{
  font-size: 40px;
  text-align: left;
}



/* FENIX UAE - FENIX part of the homepage */

.fx-home-header{
  text-align: center;
  color: white;
  margin-top: 50px;
  h1{

    font-size: 59px;
    font-weight: 700;

    em{
      font-style: normal;
      font-weight: 100;
    }
  }

  h3{
    font-size: 16px;
    font-weight: 700;
  }

  img{
    position: relative;
    top: -6px;
  }

}




.fx-home-ico-holder{
  height: 50px;
  width: 50px;
  border: 1px solid $fenix-text;
  padding: 5px;

  img {
    width: 100%;
    height: 100%;
  }
}

.fx-home-content-grid{
  text-align: justify;


  .fx-home-ico-holder{
    position: absolute;
    left: 0;
    top: 2px;
  }



  h3 {
    margin-top:0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    font-family: "Roboto Condensed";
    text-transform: uppercase;
  }

  .fx-home-categories{
    padding-left: 71px;
    margin-bottom: 20px;

    position: relative;
  }

  ul{
    padding-left:0;
    list-style: none;

    li{
      margin-bottom: 8px;
      position: relative;
      padding-left: 30px;

      em{
        font-style: normal;
        font-size: 10px;
        height: 15px;
        width: 15px;
        @include fx-border-radius(15px);
        border: 1px solid $fenix-text;
        display: inline-block;
        line-height: 1.3;
        text-align: center;
        position: absolute;
        left: 0;
        top: 3px;
      }

    }

  }

  .fx-git-logo{
    margin-top: 23px;
  }


}




p.fx-strong{
  font-weight: 700;
}



//////////////////////////////////////


/* Map */
.fm-box{
  @include fx-border-radius(0);
  display: none;
}

.fx-map{
  position: absolute;
  top: 0;
  left: 0;
}

.fx-map-description{
  h2:first-child{
    margin-top:0;
  }

}


/* Highchart tabs */
.nav-tabs > li > a{
  @include fx-border-radius(0px);
  border-color: transparent;
  padding: 4px 12px;
  color: $fenix-text;
}

.nav > li > a:hover, .nav > li > a:focus{
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs{
  border: 0;
}

.tab-content{
  margin-top: 20px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: transparent;
  color: $fx-cool-blue;
  border-color: $fx-cool-blue;

}

.fx-chart-description{
  h2:first-child{
    margin-top:70px;
  }

}


/* News */
.news-title{
  margin-top: 5px;
}

.title-small-text.news{
  top: 0;
  font-weight: 700;
}



.title-small-text{
  font-family: Roboto;
  font-size: 10px;
  top: -9px;
  position: relative;
  font-style: normal;
}

.fx-big-data{
  font-size: 25px;
  font-weight: 700;
  position: relative;


}



/* SWIPER */

.jumbotron, .jumbotron-wrapper {
  background-color: $fx-cool-blue;
}


.jumbotron, .jumbotron h1, .jumbotron h2 {
  color: white;
  font-weight: normal;
}

.container .jumbotron {
  padding: 0;
  margin: 0;
}

.jumbotron p {
  font-size:12px;
}

.jumbotron h1 {
  font-size:30px;
}

.jumbotron .swiper-container {
  width: 100%;
  height: 250px;
  color: white;
}

.jumbotron {

  background-color: $fx-cool-blue;

  .btn{
    border-color: white;
    padding: 3px 12px;

    &:hover{
      border-color: white;
    }

  }

  .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{
    background-color: white;
    color: $fx-cool-blue;

  }

}


.swiper-container {
  width: 100%;

  color: white;

}

.red-slide {

}
.blue-slide {

}
.orange-slide {

}
.green-slide {

}
.pink-slide {

}
.swiper-slide .title {
  font-style: italic;
  font-size: 42px;
  margin-top: 80px;
  margin-bottom: 0;
  line-height: 45px;
}
.swiper-visible-switch {
  background: $fenix-light-gray;
}

.swiper-active-switch {
  background: white;
}






//
//#overlay {
//  .closeOverlay{
//    height: 35px;
//    width: 35px;
//    background: url("img/icons-sprite.png") no-repeat -595px 0px;
//    border: none;
//  }
//}
//
//
//#fx-catalog-results{
//  margin-top: 20px;
//}
//
//.fx-analysis-page-title{
//  font-weight: 100;
//  color: $fenix-text;
//}
//.fx-analysis-page-description{
//  color: $fenix-text;
//}
//
//.well {
//  background-color: transparent;
//  border: none;
//  @include fx-box-shadow(0, 0, 0, white);
//
//}
//
//.fx-catalog-toolbar{
//  color: $fenix-text;
//  .fx-widget-stack-btns{
//    text-align: right;
//    em{
//      font-style: normal;
//      background-color: $fenix-text;
//      width: 30px;
//      height: 20px;
//      display: inline-block;
//      color: white;
//      text-align: center;
//      @include fx-border-radius(3px)
//    }
//    input {
//      margin-left: 33px;
//    }
//  }
//}
//
//.btn{
//  background-color:transparent;
//  color: $fenix-text;
//  border-color: $fenix-text;
//  @include fx-border-radius(0);
//  font-weight: 300;
//  padding: 3px 12px;
//
//  &:hover{
//    background-color: transparent;
//    color: $fx-cool-blue;
//    border-color: $fx-cool-blue;
//  }
//  &:active{
//    background-color: transparent;
//    color: $fx-cool-blue;
//    border-color: $fx-cool-blue;
//    @include fx-box-shadow(0, 0, 0, white);
//  }
//
//}
//
//
//.btn[disabled]{
//  background-color:transparent;
//  color: $fenix-text;
//  border-color: $fenix-text;
//  @include fx-border-radius(0);
//  font-weight: 300;
//  padding: 3px 12px;
//}
//
//.white-inverted{
//  background-color: transparent;
//  border-color: white;
//  color: white;
//}
//
//
//
///*================= Packry =================*/
//.fx-analysis-item {
//  width: 50%;
//  z-index: 200; /* Veify correct z.index */
//}
//
//.fx-analysis-item.fit {
//  width: 100%;
//}
//
///*================= Overlay =================*/
//
///* Please review */
//
//#overlay {
//  position: absolute;
//  bottom: 0;
//  right: 0;
//  width: 0;
//  height: 0;
//  overflow: hidden;
//  background-color: $white-alpha;
//
//  padding-top: $host-menu-height;
//  z-index: 500;
//  overflow-y: scroll;
//
//  .overlay-content{
//    height: 100%;
//    #catalogContainer{
//      height: 100%
//    }
//  }
//
//}
//
//.closeOverlay {
//  position: absolute;
//  right: 0;
//}
//
//#DSDEditorContainer{
//  .obj-box {
//    padding: 0;
//  }
//}
//
//
///* //////////////////// THEMING ///////////////////// */
//
//
///*///////////////* ANALYSIS */
//
///*  CATALOG THEMING */
//
//#fx-catalog-submit-btn{
//  background-color: $fx-cool-blue;
//}
//
//.fx-catalog-resume-title{
//  color: $fx-cool-blue;
//}
//
//.fx-resume-item-selected{
//
//  .fx-resume-module-title{
//
//    em{
//      color: $fx-cool-blue;
//    }
//
//  }
//
//}
//
///*///////////////* DATA EDIT */
//
//#metadataEditorContainer #fx-editor-form .panel-heading{
//  color: $fx-cool-blue;
//}
//
//#metadataEditorContainer #fx-editor-form .btn-success{
//  background-color: $fx-cool-blue;
//}
//
//
//
