<div class="row">

    <div class="col-xs-12">

        <a class="btn btn-default" href="profile" role="button">back</a>

    </div>

</div>

<div class="row">

    <div class="col-xs-3">

        <div id="lateral-menu"></div>

    </div>

    <div class="col-xs-9">

        <div id="dashboard-content" ></div>

    </div>

</div>