<!-- Result -->

<div class="rlm-result fx-visualization-box w2">
    <div class="fx-handle"></div>
    <div class="fx-dataset-details-container">
        <span class="fx-dataset-details truncate">TITLE OF THE RESULT</span>
        <a data-control="remove" class="pull-right"><span class="fx-widget-icons icojam_button_delete_1"></span></a>
    </div>
    <div class='fx-widget' role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" data-role="fx-module-tabs">

            <!-- Left buttons-->
            <li ><a data-control="metadata" ><span class="fx-widget-icons icojam_copybook_2"></span></a>
            </li>
            <li ><a data-download="csv" ><span class="fx-widget-icons icojam_csv"></span></a>
            </li>
            <li ><a data-download="xls" ><span class="fx-widget-icons icojam_xls"></span></a>
            </li>
            <!-- Right buttons-->

            </li>

        </ul>

        <div class="tab-content" data-role="fx-module-content">

            <div data-role="pivot-container"></div>

        </div>
    </div>

</div>